[2019-07-20 13:24] martinklepsch commented on #357
For now you'd have to publish a new release to update the documentation. :)

[2019-07-20 20:27] borkdude commented on #20
Fixed with https://github.com/borkdude/clj-kondo/commit/2d44c100cd8b7502fa9587aff340e2a15b6e6651

[2019-07-21 09:35] borkdude commented on #354
Fixed with https://github.com/borkdude/clj-kondo/commit/2f2ffee6792a793f64523616f7dd21880847570a

[2019-07-21 11:38] borkdude commented on #169
Fixed with https://github.com/borkdude/clj-kondo/commit/cfaf78c184743c8b5612bc2da0b0c78dfbacc3f6

[2019-07-21 19:33] borkdude commented on #342
@l3nz I've decided to give it a try anyway. Now it looks like this:

![Screenshot 2019-07-21 21 31 06](https://user-images.githubusercontent.com/284934/61596072-1511a980-abff-11e9-9326-87b9fb211d25.png)

You can try this with commit https://github.com/borkdude/clj-kondo/commit/92e4247eed9585969d4da348c0e90625b2ceae98.

[2019-07-21 21:09] borkdude commented on #342
TODO:
- [ ] fix order (using foo before definition should be unresolved)
- [ ] write test for cljc (using slurp in cljc should be unresolved because of cljs)

[2019-07-22 09:28] borkdude opened #362 "config for excluding reported unused referred vars"
E.g.:

[code]
When log isn't used, I want to exclude it using a config to prevent it from being reported.

[2019-07-22 09:38] borkdude commented on #362
TODO:
- [ ] add test for unused ns exclude
- [ ] add test for unused refer exclude

[2019-07-22 15:03] borkdude opened #363 "emit error for trying to redefine a referred var"
[code]

[2019-07-22 15:29] borkdude opened #364 "config for excluding unused referred var warnings"
e.g.:

[code]
There has to be a way to suppress `dre.util/log` and `taoensso.timbre/debug + error`

[2019-07-24 08:29] borkdude opened #366 "turn off unresolved symbol warnings for type hints in CLJS bindings"
Type hinted bindings should not give an unresolved symbol warning in CLJS:

[code]

[2019-07-24 12:57] borkdude commented on #342
@l3nz Final result:

<img width="1122" alt="compojure-config" src="https://user-images.githubusercontent.com/284934/61795274-4d91cd00-ae23-11e9-982a-12869712f16c.png">

[2019-07-24 13:01] l3nz commented on #342
Looks wonderful, but as an *opinionated* linter, I would in any case earmark the `:refer :all` with a warning. 🥇

[2019-07-24 13:41] borkdude opened #367 "detect API breakage"
Clj-kondo currently saves information about public and private vars in a directory when using the `--cache` option. We could use this information to discover API breakage between versions.

**Scenario:**

Lint src directory of lib version 0.1.0:
[code]
Lint src directory of lib version 0.1.0:
[code]

Detect api breakage:
[code]

**Output:**
- lib 0.1.0 had namespace foo, but lib 0.0.2 doesn't have

[2019-07-24 14:14] borkdude commented on #323
@thenonameguy

This seems like a cool feature, but there might be certain trade-offs to be made.
I wrote a `cond` -> `case` linter a while ago:
<img width="226" alt="cond-as-case" src="https://user-images.githubusercontent.com/284934/61800600-9d759180-ae2d-11e9-91da-8dd10f4026ba.png">
but then @puredanger made a good point that case is not always faster than `cond`. The same might be true for tran

[2019-07-24 14:42] thenonameguy commented on #323
I think your linter as well as my proposal would be a useful feature even in presence of false positive cases. It would be fine to keep as them as an INFO level linter, that way more novice devs get the chance to learn compared to the current state. Transducers are severely underutilized today IMO, just because most devs are used to dealing with sequence abstractions directly and don't even consid

[2019-07-24 15:07] borkdude commented on #342
@l3nz: final final result ;)

<img width="1124" alt="compojure-config" src="https://user-images.githubusercontent.com/284934/61805136-863aa200-ae35-11e9-8c61-2c0585944f0c.png">

[2019-07-24 15:21] borkdude commented on #342
Fixed with https://github.com/borkdude/clj-kondo/commit/7ee6199b93528701b2bfe5b7a8ddcbff96a0b956

[2019-07-24 16:09] borkdude commented on #364
Fixed with https://github.com/borkdude/clj-kondo/commit/b46e90c86cf69a869ae11ca7e00b090932e8d4b8

[2019-07-24 18:38] borkdude commented on #366
Fixed with https://github.com/borkdude/clj-kondo/commit/3b0ef34c07c3761102092ac602ee612bcfb08919

[2019-07-24 19:26] #20 closed

[2019-07-24 19:26] #169 closed

[2019-07-24 19:26] #342 closed

[2019-07-24 19:26] #354 closed

[2019-07-24 19:26] #355 closed

[2019-07-24 19:26] #364 closed

[2019-07-24 19:26] #366 closed

[2019-07-24 19:27] #357 closed

[2019-07-25 07:28] borkdude opened #370 "when warning about refer :all, report which vars were referred"

[2019-07-25 09:24] borkdude commented on #370
- TODO: sort vars in message

[2019-07-25 18:56] borkdude opened #371 "output dependency graph"
Since clj-kondo knows about var definitions and usages, it could output a graph of this information.

[2019-07-25 19:33] Doesntmeananything opened #372 "Issues with installing on WSL"
Hi!

I'm having trouble making `clj-kondo` work with the [Remote - WSL](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) extension. I've tried installing `clj-kondo` using both Linuxbrew and installation script, but neither works — I get `zsh: command not found: clj-kondo` (I'm using Zsh and running it from within WSL).

As far as I can tell, `clj-kondo` is somehow

[2019-07-25 19:48] borkdude opened #373 "output analysis data"
Clj-kondo can output analysis info: a list of calls and var definitions, their namespace, arities, etc. Other tools/features, like #367, #371 can pick up on this. This might be a more flexible alternative to #234.

[2019-07-26 06:03] Doesntmeananything commented on #372
Figured it out!

For whatever reason, automatic installation methods do not seem to place `clj-kondo` binary in a recognisable `PATH` directory. One workaround that fixed it for me is to:

1. Download the latest `clj-kondo` binary for Linux here: https://github.com/borkdude/clj-kondo/releases
2. Make sure that the binary is located in your Windows file system, otherwise WSL1 can act up (WSL2 shoul

[2019-07-26 06:03] #372 closed

[2019-07-26 10:53] yuhan0 opened #374 "False negative: unresolved symbol with the same name as a namespace alias"
**version**
clj-kondo v2019.07.24-alpha

**platform**
MacOS 10.14

**problem**

clj-kondo doesn't detect unresolved symbols when they happen to share the same name as a namespace alias.

**repro**
[code]
**expected behavior**

The symbol `string` on the last line is an undefined var and results in a compile time error, it should be linted with a "unresolved symbol" warning.

**actual behavior**

N

[2019-07-27 16:25] borkdude opened #376 ":argslists linter"
Check if `:arglists` match fn args.

[2019-07-27 18:31] borkdude commented on #374
@yuhan0 Can be tested with https://4942-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.07.25-alpha-SNAPSHOT-macos-amd64.zip

[2019-07-27 21:43] lread opened #378 "failing to parse due to invalid symbol error"
**version**
clj-kondo v2019.07.24-alpha

**platform**
macOS v10.14.6

**problem**
clj-kondo is failing with invalid symbol error

**repro**
Given the following `src/borkdude.clj` source:
[code]
Sanity check:
`clj -m borkdude` outputs:
[code]

**expected behavior**
`clj-kondo --lint src` outputs no errors.

**actual behavior**
`clj-kondo --lint src` outputs:
[code]

[2019-07-28 07:40] borkdude commented on #373
TODO:
- [ ] ns-definitions
- [ ] ns-usages
- [ ] add private + macro
- [ ] fix fn def position

[2019-07-28 10:52] borkdude opened #379 "detect cyclic namespace references"

[2019-07-28 18:49] borkdude commented on #234
@neotyk @lread @sogaiu I've chosen not to implement this as a linter, but to expose analysis results as data. Other tools/scripts can pick up on this data. In the end this is more flexible. Examples of how this data could be used:
https://github.com/borkdude/clj-kondo/tree/dump-analysis/tools
Note that this is work in progress in a branch. If the branch is deleted, I'll update the link here.

[2019-07-28 19:50] borkdude commented on #234
Continuing in #373.

[2019-07-28 19:50] #234 closed

[2019-07-28 21:17] borkdude opened #380 "warn about macro being used as value"
Work in progress in the [macro-as-value](https://github.com/borkdude/clj-kondo/compare/macro-as-value) branch.

E.g. `(map -> [1 2 3])`

- [ ] getting lots of false positives when just checking the usage of a macro as a non-function call. Maybe we should implement this as a feature in the type checker where :macro is-a :fn but when it's passed as an argument, you'll get an error?

[2019-07-28 22:18] borkdude opened #381 "lint project.clj (leiningen)"
Adding this to the configuration:

[code]

will prevent unresolved symbols in leiningen's project.clj.

[code]

vs.

[code]

We'll add this to the builtin configuration.

cc @andrezacm

[2019-07-29 22:06] borkdude opened #382 "support ignoring unused destructured function arguments"
[code]

[2019-07-30 10:35] borkdude opened #383 "output canonical paths"
[code]
This will also affect printing files from jars files, so you know from which jar file a message came:
[code]

This will affect both linter and analysis output.

[2019-07-30 13:42] daemianmack commented on #371
Would this allow for something like the graphviz namespace usage graph, only at the function call level? I'd love to see that.

[2019-07-30 13:46] borkdude commented on #371
@daemianmack You can eat your heart out with https://github.com/borkdude/clj-kondo/issues/373 which I'm currently working on.

Preview:
- data https://github.com/borkdude/clj-kondo/tree/dump-analysis/analysis#data
- namespace graph: https://github.com/borkdude/clj-kondo/tree/dump-analysis/analysis#namespace-graph

If you want to test this out before a release, just use the branch via clojure CLI +

[2019-07-31 15:57] borkdude commented on #382
@lread can be tested with https://5119-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.07.25-alpha-SNAPSHOT-macos-amd64.zip

[2019-07-31 16:01] borkdude commented on #382
Examples:

[code]

[code]

[2019-07-31 19:12] borkdude commented on #383
Fixed with https://github.com/borkdude/clj-kondo/commit/0d319754f590a2c34eb0f6953421022728ad93a0

[2019-07-31 19:12] #383 closed

[2019-07-31 19:13] borkdude commented on #373
Fixed with https://github.com/borkdude/clj-kondo/commit/8fc1ce7e88f6f48464d8eb881274df777910e81a

[2019-07-31 19:13] #373 closed

[2019-07-31 19:13] borkdude commented on #382
Fixed with https://github.com/borkdude/clj-kondo/commit/9d533bfb65aa5934935c983b3561a00673182a2f

[2019-07-31 19:13] #382 closed

[2019-07-31 19:14] borkdude commented on #374
Fixed with https://github.com/borkdude/clj-kondo/commit/18d97a6c3ca7d5d9eba351aa4291fc828bd2b215

[2019-07-31 19:14] #374 closed

[2019-07-31 19:14] borkdude commented on #370
Fixed with https://github.com/borkdude/clj-kondo/commit/55c52ad8d753d17e9d5216d385385014938bb7a1

[2019-07-31 19:15] #370 closed

[2019-08-01 07:36] borkdude commented on #259
@tatut This is now available as a custom linter using the new analysis data feature:

https://github.com/borkdude/clj-kondo/blob/master/analysis/README.md#missing-docstrings

[2019-08-01 09:11] borkdude commented on #260
If you like early access to this, this can be implemented as a custom linter by checking if the arity for the var usage `clojure.core/=` was 0 or 1.
See https://github.com/borkdude/clj-kondo/tree/master/analysis.

[2019-08-01 09:12] borkdude commented on #367
This can be implemented using a custom linter on top of https://github.com/borkdude/clj-kondo/tree/master/analysis.

[2019-08-01 09:15] borkdude commented on #380
This can be implemented using a custom linter on top of https://github.com/borkdude/clj-kondo/tree/master/analysis by checking if a used var is a macro, but has no arity. This may result in some false positives where I forgot to emit the arity for certain built-in macros like `comment`.

[2019-08-01 09:15] borkdude commented on #379
This is already implemented as a custom linter: https://github.com/borkdude/clj-kondo/tree/master/analysis#circular-dependencies

[2019-08-01 09:16] borkdude commented on #376
If we include the `:arglists` in the analysis data, we can implement this as a custom linter.

[2019-08-01 16:37] justone opened #387 "v2019.07.31-alpha has false positives with schema annotations"
First off, thank you so much for clj-kondo. It's amazing.

Now for the issue...

**version**

[code]

**platform**

Linux, Ubuntu 16.04

My `.clj-kondo/config.edn` file contains:

[code]

**problem**

I upgraded to the latest version of `clj-kondo` and am getting some false positives on some schema annotations.

**repro**

Here is a sample file:

[code]

**expected behavior**

clj-kondo should rep

[2019-08-01 16:38] borkdude commented on #387
@justone Can you try removing the config for `schema.core/defn`? clj-kondo has built-in support for it

[2019-08-01 16:44] justone commented on #387
Oh wow, that did it! Thank you. I agree that adding defschema to the built-in config would be good.

Thanks again.

[2019-08-01 16:44] #387 closed

[2019-08-01 16:46] borkdude opened #388 "add :lint-as s/defschema clojure.core/def to builtin config"
cc @justone

[2019-08-02 19:13] timgilbert commented on #276
As another data point, I've got Win 10 and the C++ redistributable 2010 installed, and I can't get clj-kondo.exe to launch at all - it seems to just exit without reading anything from stdin. I tried the latest version on scoop and the `2019.07.31-alpha` version from the releases.

[2019-08-02 20:43] borkdude commented on #276
Maybe related: https://github.com/oracle/graal/issues/1469

[2019-08-02 22:20] borkdude opened #389 "false positive unresolved symbol with clojure.core/when-first"

[2019-08-02 22:22] borkdude commented on #237
@lread if you want to test it, this is the most recent Mac version: https://5216-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.01-alpha-SNAPSHOT-macos-amd64.zip
The branch I have developed this in is https://github.com/borkdude/clj-kondo/tree/import-vars.
I'm pretty much ready to merge this.

[2019-08-02 23:43] lread commented on #237
Thanks! I will give it a go sometime this weekend on rewrite-cljs-playground!

[2019-08-03 06:45] borkdude opened #390 "analysis: add :lang keys to namespace definitions and usage for CLJC"
TODO:
- [x] implement (it's in a commit in the import-vars branch right now)
- [x] write test

[2019-08-03 06:45] borkdude commented on #390
TODO:
- [ ] implement (it's in a commit in the import-vars branch right now)
- [ ] write test

[2019-08-03 06:55] sogaiu commented on #276
@timgilbert IIUC, currently, even if clj-kondo.exe is run with the appropriate DLLs (ATM, I still think this is some appropriate version of mscvr100.dll), due to issues with native-image, I don't think it's  likely to work on Windows.

At one point I tested a private assembly situation for clj-kondo so it would use a mscvr100.dll that lived in the same directory as clj-kondo.exe, but that wasn't s

[2019-08-03 09:42] volrath opened #393 "false positive: unresolved symbol in `core.async/alt!` clauses"
**version**

v2019.07.31-alpha

**platform**

Linux

**problem**

Clauses in a [`core.async/alt!`](https://clojuredocs.org/clojure.core.async/alt!) can have a sort of "function body" in which you specify a set of bindings in a vector and a expression that acts on those bindings.

Symbols in these bindings are reported as "unresolved symbol".

**repro**

[code]

**expected behavior**

No info messa

[2019-08-03 14:36] borkdude commented on #393
@volrath If I understand correctly clj-kondo should only do specific analysis for the fn-body like expressions:

[code]

[2019-08-03 16:29] borkdude commented on #393
@volrath you can try out this version for testing: https://5244-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.01-alpha-SNAPSHOT-linux-amd64.zip

[2019-08-03 16:51] SevereOverfl0w opened #394 "Assumes everything that's .clj is a file, even when it's a directory"
**version**

clj-kondo v2019.07.31-alpha

**platform**

Linux - GraalVM

**problem**

When there is a directory ending in  ".clj" then kondo assumes it's a file and tries to read it.

**repro**

[code]

**expected behavior**

Ignores the directory

**actual behavior**

:boom:

[2019-08-03 22:39] borkdude commented on #389
Fixed with https://github.com/borkdude/clj-kondo/commit/13469b5bd3c01e86f0385600a350a8152a0faaf8

[2019-08-04 05:28] volrath commented on #393
works for me! you're right about `alt!!` good catch :)

thanks for the super fast fix :+1:

[2019-08-04 11:41] borkdude commented on #394
Fixed with https://github.com/borkdude/clj-kondo/commit/f8b0de0f76b7c78d648c93e672e3eb2caf70e45d.

Thanks @mk for hacking together on Heart of Clojure! :-)

[2019-08-04 12:14] borkdude commented on #393
Fixed with https://github.com/borkdude/clj-kondo/commit/73e2c0188f75e9a5a69da70ce37998c3246e6117

[2019-08-04 13:00] borkdude commented on #237
Fixed with https://github.com/borkdude/clj-kondo/commit/e754f6baf87ee739165e1f932ddb06ffda1bf826

[2019-08-05 09:21] borkdude opened #399 "document snap behavior: cannot read outside home dir"

[2019-08-05 09:58] viebel commented on #364
@borkdude
Still not working for me
[code]

[2019-08-05 10:01] borkdude commented on #364
@viebel Nice meeting you at Heart of Clojure.

This is the expected behavior. It won't produce a warning for `upper-case`, but here it will for `join`:

[code]

To suppress the warning about `clojure.string` you configure this using the config for `:unused-namespace`.

[2019-08-05 10:08] viebel commented on #364
@borkdude It was awesome to meet your for real!
I don't want to configure clojure.string as an allowed unused namespace. I want to allow only unused references to upper-case
(My real use case is for a debug macro!)
How can I achieve this?

[2019-08-05 10:24] borkdude commented on #364
@viebel The warning:

[code]

is coming form the `:unused-namespace` linter, so to suppress this line, you have to configure it like this: `{:linters {:unused-namespace {:exclude [clojure.string]}}}'

The line:

[code]
is coming from the `:unused-referred-var` linter, so to suppress that one, you have to use this config:

[code]

They are separate linters, so they require separate configuration. D

[2019-08-05 11:12] viebel commented on #364
Something is still bothering me.
When I have in my code `(:require [clojure.string :refer [upper-case]])` and I allow `upper-case` to be unreferred, I am expecting clojure.string to be automatically not considered as a unused namespace. The rationale is that the only usage of clojure.string is for `upper-case` which is marked as allowed.

[2019-08-05 11:14] borkdude commented on #364
@viebel Right, I guess that makes sense. So when none of the referred vars are considered unused, don't report the namespace as unused. I'll consider that as an improvement for an upcoming release.

[2019-08-05 11:14] borkdude commented on #364
@viebel Can you post this in a new issue maybe?

[2019-08-06 15:28] mynomoto opened #402 "false positives with schema.core/defmethod"
**version**
clj-kondo v2019.07.31-alpha

**platform**
linux

**problem**
It fails to recognize arguments on a `schema.core/defmethod`

**repro**
[code]

**expected behavior**
No warnings/infos

**actual behavior**
[code]

[2019-08-07 07:26] tanrax opened #403 "Not work when integrated in spacemacs"
**version**

clj-kondo v2019.07.31-alpha

**platform**

Ubuntu 19.04

**problem**

After following the steps of integration with Spacemacs the linter does not work. The last step "To install it alongside joker" I have not done.
If executed by terminal "clj-kondo --lint src" works perfectly.

**repro**

**expected behavior**

I expected to see spacemacs highlighted by problems that are alerted to t

[2019-08-07 07:30] borkdude commented on #403
@tanrax Can you try asking on Clojurians Slack in the #spacemacs channel?

[2019-08-07 07:32] lispyclouds commented on #403
@tanrax Can you share your .spacemacs config?

[2019-08-07 08:13] tanrax commented on #403
Of course! https://pastebin.com/u19HBjp2

[2019-08-07 08:16] tanrax commented on #403
It seems that the PATH works normally
`
where clj-kondo
`
return
`
/snap/bin/clj-kondo
`
My next step was to go to the community of Spacemacs 😄 My next step was to go to the community of Spacemacs 😄Thx!!!

[2019-08-07 08:18] borkdude commented on #403
@tanrax I see you have installed clj-kondo with snap. One limitation with snap is that it can only read from the home directory, not from any other path on your file system.

[2019-08-07 08:21] lispyclouds commented on #403
That could be the issue, also when editing a file could you check your `*Messages*` buffer for any errors?

[2019-08-07 09:04] tanrax commented on #403
@borkdude I can't find the problem right now. I have uninstalled the Snap version to install it through the Linux script, and made a clean new installation of spacemacs.

[2019-08-07 09:07] tanrax commented on #403
All loadings...
[code]

[2019-08-07 09:16] borkdude commented on #403
@tanrax Can you post the output of `flycheck-compile` (select `clj-kondo-clj` as the linter) from a Clojure buffer?

[2019-08-07 11:45] tanrax commented on #403
Fix it. Works in the following way in Linux and OSX.
[code]

[2019-08-07 12:14] borkdude commented on #403
@tanrax So was something missing from the documention? If so, a PR would be welcome to fix it.

[2019-08-07 12:23] yuhan0 commented on #378
`'org/clojure/math.numeric-tower` is actually an illegal symbol according to the language spec:
https://clojure.org/reference/reader#_symbols

I think the current Clojure reader just happens not to enforce that rule, whereas clj-kondo's parser is stricter. And it may change in the future, see https://clojure.atlassian.net/browse/CLJ-1530

The expected behaviour should be to output a lint error poi

[2019-08-07 12:33] borkdude commented on #378
@yuhan0 Actually I made a similar patch for keywords to let clj-kondo be less strict about it, since Clojure also accepts it right now and someone was using this to represent CSS using the garden library.

See: https://github.com/borkdude/clj-kondo/blob/b9d52ff9e0109bb55e4c490beb767ddebbf25870/parser/clj_kondo/impl/rewrite_clj/parser/keyword.clj#L1

I think the same behavior is desirable for symbo

[2019-08-07 13:10] tanrax commented on #403
Done!

[2019-08-07 13:10] #403 closed

[2019-08-07 14:33] jimmyhmiller opened #405 "Include whether something is a protocol or a multimethod in analysis"
Currently analysis includes if something is a macro. This is useful information and I think should be extended to at least include protocols and multimethods.

This could be done by adding similar keys for protocol and multimethod (`:protocol` and `:multimethod`) or some generalized notion like "type" (This is how [codox](https://github.com/weavejester/codox/blob/1146339a5b20fbacbd6bf78d22c231741e

[2019-08-07 14:55] borkdude commented on #405
@jimmyhmiller Seems like a good feature to add. I find "type" a little bit undescriptive, so I think I prefer the proposed booleans.

[2019-08-07 16:04] agzam commented on #403
@tanrax If you're using Clojure layer and syntax-checking layer, you shouldn't need those, Personally, I'm enabling kondo in my own private layer (inherited from Clojure layer), but this should work without a layer:

    (with-eval-after-load 'clojure-mode
      (require 'flycheck-joker)
      (require 'flycheck-clj-kondo)
      (dolist (checker '(clj-kondo-clj clj-kondo-cljs clj-kondo-cljc clj-ko

[2019-08-07 16:35] tanrax commented on #403
@agzam  My `.spacemacs`.

https://pastebin.com/Jtgg0BCc

I've never gotten to turn on Joker. Can the problem come that way?

[2019-08-07 16:41] tanrax commented on #403
Ah! With Snap it works fine in Ubuntu.

[2019-08-07 20:48] borkdude commented on #405
@jimmyhmillerJust to be clear: you have my blessing to work on this.

[2019-08-07 20:48] borkdude commented on #405
@jimmyhmiller Just to be clear: you have my blessing to work on this.

[2019-08-07 21:24] borkdude opened #406 "automatically enable cache when .clj-kondo dir is detected"
- automatically enable cache when .clj-kondo dir is detected. The reason for this is that multiple editor plugins do not set this option by default and it takes effort to change these tools.
- cache for a .clj-kondo dir can be explicitly disabled by placing a file called `NO_CACHE` in the .clj-kondo directory.
- the explicit cache option `--cache /tmp/my-other-cache-dir` remains the same.

[2019-08-08 08:06] borkdude commented on #390
Fixed with https://github.com/borkdude/clj-kondo/commit/5877688ede92355040de9f38fb09ef71e143b966

[2019-08-08 08:36] borkdude opened #410 "fix building docker image on CI"
fails with ./compile: line 23: lein: command not found

[2019-08-08 08:38] borkdude commented on #402
@mynomoto This should be fixed using this binary:

https://5324-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.01-alpha-SNAPSHOT-linux-amd64.zip

[2019-08-08 08:39] borkdude commented on #388
Fixed with https://github.com/borkdude/clj-kondo/commit/a76256eaaf210662dd590b7d11befc6b1f39d7c5

[2019-08-08 13:01] borkdude opened #412 "lint vars that refer to other vars as the other vars"
[code]

[2019-08-08 13:25] mynomoto commented on #402
@borkdude I tested it and it works. Thank you very much!

[2019-08-08 13:35] borkdude commented on #394
I'll close this issue once it's released.

[2019-08-08 15:33] gordonsyme opened #413 "false positive: missing-test-assertion reported for `clojure.test/are`"
**version**

2019.07.31-alpha

**platform**

macOS High Sierra

**problem**

Sole use of `clojure.test/are` in a test is reported as a missing test assertion

**repro**

[code]

Invoked with `lein clj-kondo --cache --lint "$(lein classpath)"`

**expected behavior**

The test is not flagged for a missing test assertion

**actual behavior**

clj-kondo emits this warning:
[code]

The line- and column

[2019-08-08 18:26] jlesquembre opened #414 "Publish uberjar"
Thanks for writing clj-kondo, I find it really useful.

I'm trying to create a package for [NixOS](https://nixos.org/), compiling it with GraalVM, and it would be helpful if for the next release you can publish the uberjar on github.

That's because on NixOS, during the package build phase, the build process has no network access (and lein cannot connect to the maven repositories to download the d

[2019-08-08 18:31] borkdude commented on #414
That seems an easy thing to add to the release process, so will do.

[2019-08-08 18:33] jlesquembre commented on #414
Thanks!

[2019-08-08 18:37] borkdude commented on #414
On second thought:

I was wondering about nixOS, isn't one of the ideas to have a reproducable build from the source?
If you start from the uberjar, you might as well start from the binary?

[2019-08-08 19:02] jlesquembre commented on #414
yes, one of the main ideas of NixOS is to have reproducible builds. Ideally, it would be possible to build from the source, but java (and clojure) is not well supported on NixOS. Many, if not all, java packages are build from the the uberjar. I think there were some plans to improve java support, but not sure about the current status

I already tried to use the binary you publish, but it doesn't w

[2019-08-08 19:05] borkdude commented on #414
@jlesquembre That clarifies it for me. It's awesome you want to make it work on nixOS, thank you.

[2019-08-08 19:22] jlesquembre commented on #414
@borkdude sure, I already though about it, I'll create a PR once the package is on NixOS

[2019-08-08 19:45] borkdude commented on #414
@jlesquembre I included a standalone .jar in this release now: https://github.com/borkdude/clj-kondo/releases/tag/v2019.07.31-alpha so you can already test with this.

Note that https://github.com/borkdude/clj-kondo/blob/master/resources/CLJ_KONDO_RELEASED_VERSION

always contains the most recent released version (a manual installer script also relies on this), but of course you can also use the G

[2019-08-08 20:59] jlesquembre commented on #414
@borkdude Thank you, it works perfectly :) I'll create a PR to add clj-kondo to NixOS and once gets accepted, I'll make a PR to the installation manual

[2019-08-09 08:18] borkdude commented on #413
@gordonsyme If you want, you can test with this binary:

https://5345-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.01-alpha-SNAPSHOT-macos-amd64.zip

[2019-08-09 08:28] borkdude commented on #413
Fixed with https://github.com/borkdude/clj-kondo/commit/71e9fcaaf82749e67e6160566245698fc6fbaaaf

[2019-08-09 08:33] borkdude commented on #410
Fixed with https://github.com/borkdude/clj-kondo/commit/32bb262b399d81baf59ad59beee27281eb020b1c

[2019-08-09 09:31] gordonsyme commented on #413
Thanks! That fixes the test assertion warnings.

There's a new `recur argument count mismatch` error showing up with that binary. It's in a slightly hairy bit of code using `core.async` within `loop`. I'll try to get a minimal reproduction of it.

[2019-08-09 09:33] borkdude commented on #413
@gordonsyme Thanks! Please post the `recur` issue in a new issue.

[2019-08-09 09:33] borkdude commented on #414
Fixed with https://github.com/borkdude/clj-kondo/commit/34ee8736045e14e0b2e5109010793f48c1def132

[2019-08-09 09:37] borkdude opened #417 "output without row and col"
When I remove the check for `call?` here:

https://github.com/borkdude/clj-kondo/blob/34ee8736045e14e0b2e5109010793f48c1def132/src/clj_kondo/impl/linters.clj#L289

clj-kondo emits output with row and col. I think we should default to row 0 and col 0 when these are nil, so they are displayed properly in an editor buffer.

[2019-08-12 08:40] borkdude opened #419 "Custom messages"
For example:

[code]

The string would act as a template.

To see all keywords + values available, users can start with:

[code]

and then tweak their messages going forward.

Another idea would be to use [sci](https://github.com/borkdude/sci) but that would make the config Turing complete...

cc @bbatsov

[2019-08-16 01:16] didibus opened #421 "Question: config.edn per project or global?"
The docs mentions a config.edn file cxan be used in .clj-kondo , but this as I understand is a global setting. What if I want a per project setting which I can commit to version control and share with my project? Would there be a way to say add a config.edn file at the project root?

[2019-08-16 01:32] didibus commented on #421
Hum, nevermind I see that it is actually per project already, based on user.dir. So it there no option to have a global config then?

[2019-08-16 07:38] borkdude commented on #421
@didibus That's correct and by design. A config.edn belongs to a project and it meant to be shared with other people who are working on that project, so you have the same conventions and no incomplete config scattered over multiple places.

[2019-08-16 16:21] gordonsyme opened #422 "False positive: recur-argument count mismatch with core.async"
**version**

`clj-kondo v2019.08.01-alpha-SNAPSHOT` - supplied in https://github.com/borkdude/clj-kondo/issues/413

**platform**

macOS High Sierra

**problem**

Use of `recur` within `core.async/alt!!` (inside a `loop`) triggers a recur argument count mismatch error, it looks as though the `alt!!` bindings are being matched against rather than the `loop` bindings.

**repro**

This is as minimal a

[2019-08-16 18:43] borkdude commented on #422
@gordonsyme Could this be a duplicate of https://github.com/borkdude/clj-kondo/issues/393?
The fix will be released soon.

[2019-08-16 21:16] borkdude commented on #422
@gordonsyme Thanks. This repro works, I'll have a look soon.

[2019-08-16 21:18] borkdude commented on #421
@didibus Having said that, you can do some additional configuration with `--config`. See https://github.com/borkdude/clj-kondo/blob/master/doc/config.md.

[2019-08-16 21:18] #421 closed

[2019-08-16 21:23] borkdude commented on #399
Fixed with a9c0b3732a29377cb6ebb18e699ece18943e1ff0

[2019-08-18 20:48] borkdude commented on #422
@gordonsyme This Mac binary should contain the fix: https://5405-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.01-alpha-SNAPSHOT-macos-amd64.zip

[2019-08-18 20:51] borkdude commented on #422
Fixed with https://github.com/borkdude/clj-kondo/commit/3fd613ff329669c70a9ecdea86e4686f2b01b5e2

[2019-08-19 09:15] borkdude commented on #406
TODO: write test for `--cache-dir`.

[2019-08-19 19:42] metasoarous opened #424 "Snap package is discontinued."
**version**

clj-kondo v2019.07.31-alpha

**platform**

Linux (Ubuntu 19.04), with Vim 8.1

**problem**

Every file I open only comes with only a single annotation at the level of the ns declaration, and hovering over displays the message `error: file does not exist`.

**repro**

Not sure how to reproduce on another system at this point, but here's how I setup:
* Installed ale by adding `Plugin 'd

[2019-08-19 19:52] borkdude commented on #424
When I read the title of this issue I already suspected you installed using Snap. The snap install cannot see files outside of user directory. Are your files in your user directory, and if so where?

[2019-08-19 20:06] metasoarous commented on #424
Yes, they are in my user directory (well, in a subdirectory: `~/code/<project-name>/src/*`). I can try installing using one of the other methods, but is there anything it would be helpful for me to try first?

[2019-08-19 20:06] borkdude commented on #424
@metasoarous Given that the snap package often causes confusion, since it has limited access, I've decided to discontinue the snap package. Please select a different installing method. For linux you can either use brew for linux, or the [manual installer](https://github.com/borkdude/clj-kondo/blob/master/doc/install.md#installation-script-macos-and-linux).

[2019-08-19 20:07] borkdude commented on #424
Or if you're using Arch linux, there's a .aur package.

[2019-08-19 20:08] borkdude commented on #424
Note to self: announce that the snap package is deprecated from the next release on.

[2019-08-19 20:12] metasoarous commented on #424
Yay! Works with Homebrew/Linuxbrew. Thanks again!

[2019-08-20 10:44] gordonsyme commented on #422
Thanks! I've run that binary against our source, confirmed the recur argument mismatch is no longer reported.

[2019-08-21 12:46] sogaiu opened #426 "warning for a go-loop without a recur?"
**Is your feature request related to a problem? Please describe.**
When using a go-loop, it seems like most often one would like to have at least one recur within the go-loop's body.  Recently, I forgot to do this a few times and in each case it was a bug :)

**Describe the solution you'd like**
clj-kondo giving a warning for each go-loop that has no recurs.

**Describe alternatives you've conside

[2019-08-21 16:05] #237 closed

[2019-08-21 16:05] #388 closed

[2019-08-21 16:05] #389 closed

[2019-08-21 16:05] #390 closed

[2019-08-21 16:05] #393 closed

[2019-08-21 16:05] #394 closed

[2019-08-21 16:05] #399 closed

[2019-08-21 16:05] #402 closed

[2019-08-21 16:05] #406 closed

[2019-08-21 16:05] #410 closed

[2019-08-21 16:05] #413 closed

[2019-08-21 16:05] #414 closed

[2019-08-21 16:05] #422 closed

[2019-08-21 16:05] #424 closed

[2019-08-27 09:39] Macroz opened #430 "Level is not supported in inline configs"
clj-kondo v2019.07.31-alpha (and master)

Level configuration is not possible to use in namespace inline config. Static file config for levels is used instead. This test case for example describes the expected behavior. Level based filtering is done in code where the namespace config is not available.

[code]

[2019-08-27 21:43] borkdude opened #431 "optional linter: warn when shadowing vars in local bindings"

[2019-09-01 03:02] didibus opened #432 "Warn when using an atom without a deref and vice-versa"
Given the following:

[code]

Both misuse of deref should generate a warn.

Not sure how easy this would be. But I'm thinking even if simply any use of an atom in a function that is not the known core atom fns like swap! and reset!, etc. should just generate a warn. Similarly, deref when using those should also warn.

To be noted, it seems Joker can do this partially:

[code]
arg[1] of core/+ must

[2019-09-01 12:33] borkdude commented on #432
I don't think that's a good idea, as you can pass atoms to other user-defined functions and this is valid usage.

Also probably not a good idea, since you can have an atom in a delay, etc.

Using type tags or inferring those for generation of warnings like joker is something I'm considering for clj-kondo.

[2019-09-01 20:53] didibus commented on #432
Inferred types and some making use of tags either existing type hints, spec, comments, etc. would be the best!

An optional linter that's dumb like I described I would still use though. Even though there's legitimate use cases that it would warm against, most of the time it's a bug.

If there was a way in the config to mark warns as reviewed. And then an emacs command that auto-adds that to the co

[2019-09-01 21:07] borkdude commented on #432
I see the error level as something that's is very likely an error, e.g. calling a function with a wrong number of arguments. A warning is something that does not necessarily mean something is wrong, but needs attention, e.g. redefining a var, unused namespaces.

[2019-09-01 21:13] didibus commented on #432
Wouldn't this count as a warn then ☺️😋

I understand if the false positives would be too high.

My request comes as a reaction to a production bug that slipped through the cracks and was due to accidentally passing an atom somewhere the value should be passed instead. So I might be in a over precautions phase right now.

Type checking would catch this without false positives. But still only if the

[2019-09-03 11:25] Deraen opened #434 "Lint-as for/doseq doesn't support `:let` bindings"
**version**

v2019.08.21-alpha

**platform**

Linux

**problem**

Using `:lint-as` to declare a macro to work like `for` or `doseq` doesn't still add support for using `:let` bindings inside the macro.

**repro**

[code]

**expected behavior**

`for-map` works like `for`, no warnings.

**actual behavior**

Warning about unresolved symbols for `&` and `_rst` in `for-map` `:let` binding.

[code]

[2019-09-04 17:52] metasoarous commented on #259
@borkdude This is wonderful! We were just thinking about this. Is it possible to turn on via config? The linked example only shows this running from the command line, but we'd like it integrated in our editors.

[2019-09-04 21:17] borkdude commented on #259
@metasoarous I'll consider this for a next release as an optional linter or level `:info`.

[2019-09-04 21:20] borkdude commented on #434
Hi @Deraen, this is fixed in https://github.com/borkdude/clj-kondo/commit/8a2df7b75650672aff21334d3a42a4f911802443 so you can test it either using that commit or using this Linux binary produced on CircleCI:

https://5483-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.22-alpha-SNAPSHOT-linux-amd64.zip

[2019-09-04 21:23] borkdude commented on #430
@Macroz Thanks for posting this issue. I'll consider it for a next release.

[2019-09-04 23:14] metasoarous commented on #259
@borkdude Wonderful! Thank you!

[2019-09-05 11:11] borkdude opened #436 "version is used twice in .cache dir"
`.clj-kondo/.cache/2019.08.21-alpha/2019.08.21-alpha`

[2019-09-05 12:20] Deraen commented on #434
This case works now.

Though, I think cause of the fix I now get another false positive from a quite different case:

[code]

Now let-like binding from with-db-transaction incorrectly reported as reduntant.

[2019-09-05 12:22] borkdude commented on #434
Thanks, I'll look into it.

[2019-09-06 18:55] borkdude commented on #90
We might use the Google Closure compiler to get this info:

[code]

[2019-09-07 00:34] didibus opened #437 "Warn on badly formatted prepost map"
The following prepost map:

[code]

Should lint as an error, because valid prepost maps are of the form:

[code]

Thus things that don't match:

[code]

As per doc: https://clojure.org/reference/special_forms#_fn_name_param_condition_map_expr_2

Should lint as an error.

Thank You!

[2019-09-07 08:07] borkdude commented on #434
@Deraen Thanks for testing. I've made another fix:

https://5491-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.08.22-alpha-SNAPSHOT-linux-amd64.zip

Commit SHA: 2e452ffd77d77bcb1eda58344fc05586b587b45c

Can you test once more?

[2019-09-09 08:38] borkdude opened #438 "What companies or projects are using clj-kondo? (at least one person counts!)"
This issue has several purposes:

- Your company might be mentioned in a sheet of a presentation about clj-kondo. A link to a logo would be helpful.
- This issue would be a good way to notify you of any breaking changes in clj-kondo (which we will try to prevent).

If you would like to sponsor clj-kondo, I would be happy to take your money! :)

https://opencollective.com/clj-kondo
https://github.c

[2019-09-09 08:40] borkdude commented on #438
Cognician (https://www.cognician.com)
Doctor Evidence (https://drevidence.com/)
VakantieDiscounter (https://vakantiediscounter.nl)

[2019-09-09 11:03] Deraen commented on #438
You can find Metosin logo here: https://github.com/metosin/media

[2019-09-09 11:34] Deraen commented on #434
Works now, thanks!

Interesting to look at the fixes for these problems!

[2019-09-10 09:09] thenonameguy commented on #438
We are also using it at Ekata (formerly Whitepages Pro):
https://ekata.com/
https://ekata.com/assets/ekata-logo-white.svg

Thanks for this great piece of software!

[2019-09-10 12:32] borkdude opened #440 "warn when using if with condition + only one expression or more than two expressions"
- When using `if` with a condition + only one expression, suggest `when`
- When using `if` with a condiation + more than two expressions, error

[2019-09-13 15:27] kommen opened #444 "Support cljs.test/async macro"
https://cljs.github.io/api/cljs.test/async

[code]

It would be nice to not warn about this by default as it is part of clojurescript.

[2019-09-14 10:15] borkdude opened #445 "Local type checking / inference"
[code]

TODO:

- [x] handle cases in performance.txt output
- [x] take type hints on function arguments into account
- [x] take function return types into account
- [x] use type hints on function arguments also when calling the function (not only inside the definition)
- [x] handle multiple spec errors in one error message
- [x] clean up :arities vs :fixed-arities duplication
- [x] clean up types

[2019-09-14 10:51] sogaiu commented on #445
Ran:

[code]

through clojure's source and got roughly:

[code]

I think the first one corresponds to:

[code]

[2019-09-14 10:58] sogaiu commented on #445
Not sure if I'm doing this right, but FWIW:

git clone https://github.com/clojure/tools.reader && cd tools.reader

[code]

[2019-09-14 11:35] Deraen opened #446 "Using required namespace directly as object in Cljs causes warning about unused require"
**version**

clj-kondo v2019.08.22-alpha-SNAPSHOT (2e452ff)

**platform**

Linux

**problem**

In ClojureScript, when namespace is required and bound to a name using `:as` the bound name can be used to directly access the object which namespace points to. This is often used with JS libraries (either with foreign-libs using`:global-exports`, or node packages with shadow-cljs or npm-deps) where the

[2019-09-14 12:40] borkdude commented on #445
@sogaiu Both problems should be fixed. I forgot that `nil` is also seqable.

The error:

[code]
came from `(cons 1 2)` in a test, so that's good news :).

[2019-09-14 12:54] borkdude commented on #446
Thanks! I'll close this after the next release, just as a reminder for myself to write a release note about it.

[2019-09-14 13:12] borkdude commented on #446
What about:

[code]

I had the behavior you implemented before at some point, but then users came with the message that when you did use s somewhere, it wasn't reported as unresolved anymore.
So is this behavior specific for shadow-cljs maybe?

[2019-09-14 13:23] borkdude commented on #446
The relevant commit for this is: https://github.com/borkdude/clj-kondo/commit/18d97a6c3ca7d5d9eba351aa4291fc828bd2b215
and the issue was https://github.com/borkdude/clj-kondo/issues/374.

[2019-09-14 15:23] borkdude commented on #446
As discussed on Slack: it would be nice to only have this behavior if the user requires the namespace using a string.

[2019-09-14 21:13] borkdude opened #450 "support java imports outside ns forms"
Repro:

[code]

[2019-09-16 11:42] iha2 opened #453 "Adding an auto import feature"
Wouldn't it be cool in clj-kondo allowed you to auto import? I don't know if this is possible but I would love to see it. It would speed up adoption and development.

Let me know what you think.

[2019-09-16 11:43] borkdude commented on #453
What do you mean by auto import? Can you be more specific?

[2019-09-16 11:46] iha2 commented on #453
Basically, if there is a form written in you application, clj-kondo can give you the list of possible forms that can be imported into the file, and fill them in the file if selected. Basically what an editor does. clj-kondo will simply do the heavy lifting, and editors can tie themselves to it. Does that make senes?

[2019-09-16 11:48] borkdude commented on #453
I still don't know exactly what you mean. Do you mean auto-complete? Clj-kondo does not not offer editor-specific tooling, as it is agnostic about which editor you are using.

[2019-09-16 11:51] iha2 commented on #453
In VS code and javascript, if you write a function that is not in the file, it will give you the opportunity to import it. It's basically auto-complete with the added expectation that it will also add the import for what you want.

[2019-09-16 11:54] borkdude commented on #453
And by import you mean `:require` + `:refer`?

Currently clj-kondo can provide information about what is available in which namespace (after inspecting that namespace) by using the [analysis output](https://github.com/borkdude/clj-kondo/blob/master/analysis/README.md). It's up to the editor tooling people to write a plugin that uses clj-kondo for this.

[2019-09-16 12:42] SevereOverfl0w commented on #453
refactor.el provides this functionality. It utilizes a project analysis to know that when you type str/includes? you mean clojure.string (because there are other requires using clojure.string).

[2019-09-16 20:39] #453 closed

[2019-09-19 23:40] liquidz commented on #438
We are also using clj-kondo. Thanks for your great job!

* TOYOKUMO,Inc.
  * https://toyokumo.co.jp
* Logo
  * https://toyokumo.co.jp/wp-content/uploads/2019/09/toyokumo_logo.png

[2019-09-20 12:32] borkdude opened #454 ""flagged" symbols/functions/imports"
Warn when users use certain symbols.
Also include JS/Java imports in analysis output.

[2019-09-21 14:50] borkdude opened #455 "warning if namespace has .impl segment, but no no-doc metadata"
I want to add `{:no-doc true}` to every of my impl namespaces, but often forget this.

[2019-09-22 12:12] glenjamin opened #462 "Catch more cases of missing test assertions"
**Is your feature request related to a problem? Please describe.**
We recently shipped some code which looks like this, which passed the test because it misses an assertions.
[code]

Kondo currently catches some similar cases, but not this one.

**Describe the solution you'd like**
I would like to be warned that the comparison is unused. I don't think this necessarily needs to be related to `defte

[2019-09-22 16:00] borkdude commented on #444
@kommen If you want, you can test this with the version from master.

[code]

[2019-09-22 21:38] #434 closed

[2019-09-22 21:38] #436 closed

[2019-09-22 21:38] #440 closed

[2019-09-22 21:38] #444 closed

[2019-09-22 21:38] #445 closed

[2019-09-22 21:38] #446 closed

[2019-09-23 08:59] SevereOverfl0w opened #468 "Add custom linters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

It's a high barrier to entry when creating new linters based on the clj-kondo analysis data to create an entire release process and convince users to add it to their existing linting and tooling setup.

**Describe the solution you'd like**

[2019-09-23 09:43] kommen commented on #444
@borkdude works nicely for me, thanks! See you in Helsinki :)

[2019-09-23 11:07] Kynde commented on #438
We are also using clj-kondo at Leanheat. Nice linter! Keep up the good work! See you in ClojuTre.
https://leanheat.com/
https://leanheat.com/wp-content/uploads/2019/05/LeanheatDanfossLogoMarginBigFix.png

[2019-09-23 13:12] borkdude opened #470 "Third parameter of partition has invalid type and results in false positives"
Fixed with #469.

Workaround, put the following in your `.clj-kondo/config.edn`:

[code]

[2019-09-23 13:13] borkdude opened #471 "Add `:alias` to used namespaces analysis export"
Fixed with #467.

[2019-09-23 13:41] Juholei commented on #438
Solita is using clj-kondo in multiple projects. Thank you for your work!
https://www.solita.fi/en/
![solita_logo](https://user-images.githubusercontent.com/5576385/65430683-f6a77480-de20-11e9-858e-538be8944e6c.png)

[2019-09-23 14:00] borkdude opened #472 "Warn about unused private var"

[2019-09-23 20:27] jafingerhut opened #473 "Possible false positive warnings"
**version**
clj-kondo v2019.09.22-alpha

**platform**
Ubuntu 18.04.3 desktop Linux

**problem**
I am not certain, but it seems like I have found a few warnings that are false positives.  I know this is normal for lint tools, but wanted to at least provide a concrete reproducible example so you can evaluate for yourself whether it is worth the effort of changing clj-kondo.  It might not be.

**repr

[2019-09-23 20:37] borkdude commented on #473
Thanks for the report. These are all false positives that should be fixed.

[2019-09-23 21:48] borkdude commented on #473
@jafingerhut Can you try again with commit https://github.com/borkdude/clj-kondo/commit/1cbaa43080b6de5da83256ef53f9033c50688630?

You can run this project like:

[code]

About `VecSeq`, this is part of clojure.core, but only if you require `clojure.gvec`:

https://github.com/clojure/clojure/blob/e78519c174fb506afa70e236af509e73160f022a/src/clj/clojure/gvec.clj#L58

[2019-09-23 22:45] jafingerhut commented on #473
I will attempt to attach the complete output I got from the project with the version of clj-kondo and source code core.rrb-vector described in the original report, and the different clj-kondo output I got with the commit you asked about, to this comment.  The first will be called out-kondo1.txt, the second out-kondo2.txt.

If that works, then it seems that the newer output does get rid of some fal

[2019-09-24 00:07] scramjet commented on #438
Systematic is using it. https://systematic-app.com

Thanks! Finding it very useful in combination with flycheck on Emacs.

[2019-09-24 09:02] borkdude commented on #473
Thanks. Yeah, that's because currently some macros (like deftype, definterface, cond->) are linted only superficially (e.g. arity linting was turned off and now I also turned off private var linting). This is a trade off between energy invested in implementing a linter for these macros and the benefit returned: how prevalent are these macros in daily programming? As a linter I think it's good to e

[2019-09-24 10:37] gwena commented on #438
Ticketless.ai is using clj-kondo. Thanks a lot. Nice integration with Emacs.
https://ticketless.ai
Logo: https://ticketless.ai/wp-content/uploads/2019/08/logo.svg

[2019-09-24 15:06] jafingerhut commented on #473
Sounds good.  I know how tricky it can be to balance false positives, false negatives, and implementation effort.

[2019-09-25 13:39] tatut commented on #260
Same goes for normal comparisons, like `(< 1)`. Always true and most likely a bug.

[2019-09-26 03:54] sogaiu opened #474 "Store jar file location in analysis data?"
**Is your feature request related to a problem? Please describe.**

Tools that index Clojure source code such as ctags don't appear to really understand Clojure and employ methods involving regular expressions to determine various identifiers.   The results are usable in some cases, but fall short in others.  AFAIU, it also appears to be less common to index the dependencies of a project, possibly

[2019-09-26 05:48] borkdude commented on #474
@sogaiu Can you try with this option? https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#output-canonical-file-paths

[2019-09-26 06:03] sogaiu commented on #474
Thanks!

Looks pretty good so far.

[2019-09-26 06:03] #474 closed

[2019-09-26 09:35] imrekoszo commented on #229
Hey, do you mind if I ask what other points of the referenced article are you planning to support? I'm especially interested in sorting, line breaks and prefix lists.

[2019-09-26 17:32] borkdude opened #476 "analysis export produces invalid EDN when CLJS has require with string"

[2019-09-26 17:34] borkdude commented on #476
@sogaiu Can you test with https://github.com/borkdude/clj-kondo/commit/8e0828bbfc055a07acf52124eb54a1e8a9ce9ac8?

[2019-09-26 22:28] sogaiu commented on #476
Just tested with regenerated analysis data -- jet does not complain any more :)

Thanks!

[2019-09-27 22:05] pbalduino commented on #438
Klarna
https://klarna.com
Logo: https://www.klarna.com/se/wp-content/themes/klarna/assets/images/icons/klarna.svg

[2019-09-28 21:15] borkdude commented on #229
Sorting: seems a good idea to me.
Line breaks: currently clj-kondo strips away all whitespace before it analyzes code, so that's more challenging.
Prefix lists: certainly possible and seems useful to me too.

[2019-09-30 08:30] borkdude commented on #468
This is a cool idea, but I think we need more details and at least a few examples of how this could work. I'll keep this as an idea for now.  In the spirit of "no is temporary and yes is forever" I'm holding off on this for now, as this will mean implementing APIs that can be hooked in with sci that will have to be supported forever and it may be a little bit too soon to do that right now. I think

[2019-09-30 11:18] borkdude opened #478 "Change spelling of var-args to varargs everywhere in the project."
This will be a breaking change for the analysis export, but probably OK since probably not a lot of people depend on this field yet.

[2019-09-30 12:57] borkdude opened #479 "false positive type error for associative used as ifn"
[code]

[2019-09-30 18:19] chorin1 commented on #438
Using this lovely linter on AppsFlyer
https://appsflyer.com

Thanks for building this great tool!

[2019-10-01 08:42] borkdude opened #482 "Better parsing of ##Inf and friends"
See https://github.com/lread/rewrite-cljs-playground/commit/ccdd11e2ca0a4f5e767af4310e81128526931b54

[2019-10-01 14:49] DanBunea commented on #438
Happy user from Codurance, Barcelona
https://www.codurance.com

[2019-10-01 20:53] mynomoto opened #489 "False positive: `conj` is not accepting sequential as the first argument"
**version**
clj-kondo v2019.09.22-alpha

**platform**
linux

**problem**
`clj-kondo` is returning a false positive

**repro**
`(conj (flatten []) {})`

**expected behavior**
Should not be a linter error

**actual behavior**
`xxx.clj:1:7: error: Expected: collection, received: sequential collection.`

[2019-10-01 21:17] borkdude commented on #489
Fixed with https://github.com/borkdude/clj-kondo/commit/e0f499ca39cc0941d8f016bd75edb29a7608949c.

[2019-10-01 21:23] mynomoto commented on #489
Thanks!

[2019-10-01 23:11] mynomoto opened #492 "False positive: `schema.core/fn` is not linted correctly"
**version**
clj-kondo v2019.09.22-alpha

**platform**
linux

**problem**
`schema.core/fn` is not linted correctly

**repro**
[code]

**expected behavior**
No linter complaints.

**actual behavior**
[code]

[2019-10-02 09:32] borkdude commented on #492
Fixed with https://github.com/borkdude/clj-kondo/commit/abefb1f8363f7294cf51600df50caa17d99784ed

[2019-10-02 13:20] mynomoto commented on #492
You are amazing! Thanks!

[2019-10-03 11:55] tatut opened #496 "core.match support"
In the example below clj-kondo warns "unresolved symbol a".

[code]

[2019-10-03 15:06] marcomorain opened #497 "clj-kondo reporting an error on line 0"
**version**

`clj-kondo v2019.09.22-alpha`

**platform**

[code]

**problem**

`clj-kondo` is reporting a problem on line 0 of a file. This is causing an issue for `clojure-lint`

[code]

**expected behavior**

I would expect the line number to be greater than zero.

**actual behavior**

[code]

[2019-10-03 17:43] mynomoto opened #500 "False positive arity error linting a cljc file with a reader literal"
**version**
clj-kondo v2019.09.23-alpha-SNAPSHOT

**platform**
linux

**problem**
False positive arity error linting a cljc file with a reader literal

**repro**
`src/cljkondo.cljc`
[code]
`deps.edn`
[code]
**expected behavior**
No linter warnings

**actual behavior**
[code]

[2019-10-03 17:44] mynomoto commented on #500
Renaming the file to `.clj` or `.cljs` makes the error disapear.

[2019-10-03 18:16] borkdude commented on #500
Good catch. Fixed with https://github.com/borkdude/clj-kondo/commit/89abdb1b80e9b1def538a5119fe31ff2bf209451. Just in time for the next release, I'll create it tomorrow morning.

[2019-10-03 18:26] mynomoto commented on #500
This is what I was aiming for, thanks!!

[2019-10-04 08:19] #470 closed

[2019-10-04 08:19] #471 closed

[2019-10-04 08:19] #472 closed

[2019-10-04 08:19] #473 closed

[2019-10-04 08:19] #476 closed

[2019-10-04 08:19] #478 closed

[2019-10-04 08:19] #479 closed

[2019-10-04 08:19] #482 closed

[2019-10-04 08:19] #489 closed

[2019-10-04 08:19] #492 closed

[2019-10-04 08:19] #497 closed

[2019-10-04 08:19] #500 closed

[2019-10-04 12:06] hjhamala commented on #496
This should also support core matches or-syntax which currently causes arity error for keyword ->

(let [x 4 y 6 z 9]
  (match [x y z]
    [(:or 1 2 3) _ _] :a0
    [4 (:or 5 6 7) _] :a1
    :else nil))

[2019-10-04 12:08] tatut commented on #496
My current plan is to just not lint the pattern part which is its own mini-language.
Only extract bindings from it so that they can be resolved in the consequence part.

[2019-10-04 14:22] borkdude opened #502 "expand cond->"
Right now some linters are disabled within cond-> because this macro is not expanded yet. Bit it's used a lot, so it makes sense to add support for it.

[2019-10-06 05:49] dakra opened #504 "False positive destructuring defn argumens with :as :or"
**version**

I use the arch package, which is clj-kondo version:
`clj-kondo v2019.10.04-alpha`

**platform**

GNU/Linux

**problem**

When using destructuring in defn I get a false positive `unused binding ...` and `unresolved symbol ...`

**repro**

[code]

[2019-10-06 07:36] borkdude commented on #504
Thanks for the report!

[2019-10-06 09:42] borkdude commented on #504
Fixed with https://github.com/borkdude/clj-kondo/commit/58b1b0f75f8a8fd7d18a3b666bc75c2a437f2f03.

This linux binary contains the fix:

https://6343-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.05-alpha-SNAPSHOT-linux-amd64.zip

[2019-10-06 10:29] yuhan0 opened #506 "False positive: as-> inside doto"
**version**
clj-kondo v2019.09.23-alpha-SNAPSHOT

**platform**
MacOS 10.14

**problem**
There seems to be a parsing bug with the `as->` macro inside a `doto` form, see below

**repro**

[code]

**expected behavior**

No warnings generated

**actual behavior**
[code]

[2019-10-06 13:12] dakra commented on #504
Great. Tested it and works :)

Thanks.

[2019-10-06 13:16] borkdude commented on #504
Thanks for testing. I'd like to keep this issue open until the next release.

[2019-10-06 13:32] yuhan0 opened #507 "support for namespaced metadata"
**version**
clj-kondo v2019.09.23-alpha-SNAPSHOT

**platform**
MacOS 10.14

**problem**

clj-kondo doesn't seem to parse correctly `^`metadata syntax when combined with `#:` namespaced map shorthand.

**repro**
[code]
**expected behavior**
No errors

**actual behavior**

[code]

[2019-10-06 20:45] borkdude commented on #507
Fixed with: https://github.com/borkdude/clj-kondo/commit/9b613ad319ec5196c3d91fa627c4d29cd23ac974

Mac binary with fix: https://6380-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.05-alpha-SNAPSHOT-macos-amd64.zip

[2019-10-07 09:17] borkdude commented on #506
Fixed with https://github.com/borkdude/clj-kondo/commit/ca765b5ab6ac15e780a8da99946db204aa3a013a

This is a new Mac binary (which also contains the fix for #507:

https://6389-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.05-alpha-SNAPSHOT-macos-amd64.zip

[2019-10-07 12:29] borkdude opened #512 "export: add list of vars on which var definition depends"
Each var-definition should have a a `:depends` list which has the vars it calls. that's maybe not so hard to add and with this information you can build up a graph of function dependencies.

[2019-10-08 09:50] borkdude opened #513 "add types for clojure.string/replace"
We should be able to distinguish between correct combinations of match / replacement:

   string / string
   char / char
   pattern / (string or function of match).

[2019-10-08 10:14] marcomorain opened #514 "Show a proper error message for unmatched Parentheses"
**Is your feature request related to a problem? Please describe.**
`clj-kondo` warns about unmatched parentheses in the same way as Clojure core – the error referers to unexpected EOL at the end of the file, instead of highlighting the brackets that don't match.

**Describe the solution you'd like**
I'd like `clj-kondo` to emit 2 errors when the parens are unbalanced.

**Describe alternatives you'

[2019-10-08 10:16] borkdude commented on #514
It might be worth looking into this unfinished PR: https://github.com/borkdude/clj-kondo/pull/418

[2019-10-08 10:48] borkdude opened #515 "warn about missing require when using a known namespace (exists in cache)"
We know about the existence of a namespace via the cache. Checking for the existence of a namespace is a cheap operation. We can use this to emit warnings for code that uses known namespaces but there is no require for it:

[code]

I guess that will only work when the user types a full namespace name, not when typing an alias.

[2019-10-08 10:55] SevereOverfl0w opened #516 "Detect import without require of records/interfaces"
e.g.

[code]

should result in an a lint failure telling me to require `manifold.stream.core` first. Related to #515

[2019-10-08 21:10] telekid commented on #438
You've got some happy users over here at Flexport!

https://www.flexport.com

🚢

[2019-10-08 21:11] ericdallo commented on #438
Some users from Nubank!

https://www.nubank.com.br

[2019-10-11 08:56] borkdude commented on #259
@tatut This is now implemented as an "optional" linter. See:

https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#enable-optional-linters

Feedback welcome.

[2019-10-11 10:28] borkdude opened #521 "Missing docstring doesn't warn when using multi-line docstring."
Example:

[code]

[2019-10-11 14:04] #259 closed

[2019-10-11 14:04] #502 closed

[2019-10-11 14:04] #504 closed

[2019-10-11 14:04] #506 closed

[2019-10-11 14:04] #507 closed

[2019-10-11 14:04] #521 closed

[2019-10-12 07:08] maxp opened #524 "unresolved symbol var"
**version**

clj-kondo v2019.10.11-alpha

**platform**

ubuntu linux

**problem**

'var' does not recognized.

**repro**

[code]

[2019-10-12 08:47] borkdude commented on #524
Fixed with https://github.com/borkdude/clj-kondo/commit/43b040ae5afaed47b8160018a7b4e7c37047bf77.

Workarounds for now:

[code]
or use `#'x`.

It's quite surprising that this project is already six months old and nobody reported this yet. Thanks so much!

[2019-10-12 13:29] ougfh opened #526 "Unused referred var in meta"
**version**
v2019.10.11-alpha

**platform**

MacOS 10.14.6

**problem**

False-positive error `:unused-referred-var` when reffered var used in meta

**repro**

[code]
**expected behavior**

No errors

**actual behavior**

[code]

[2019-10-12 18:37] borkdude commented on #526
Thanks for reporting!

Fixed with https://github.com/borkdude/clj-kondo/commit/602bd3524158733f9f5b81da25e40abf3e4da750.

Workaround: use `(defn ^{:test-fn ...} foo []) .

[2019-10-12 22:50] kommen opened #530 "False positive with cljs.core/set!"
**version**

clj-kondo v2019.10.11-alpha

**platform**

macOS 10.15

**problem**

As @mfikes [points out](https://twitter.com/mfikes/status/1181708123511373827) [`cljs.core/set!`](https://cljs.github.io/api/cljs.core/setBANG) has a variant using an instance field name:

[code]

clj-kondo reports an unresolved symbol error, which it probably shouldn't.

**repro**

[code]

**expected behavior**

No

[2019-10-13 10:27] borkdude opened #531 "drop -alpha from version scheme"
The -alpha suffix in combination with SNAPSHOT causes trouble here:

https://github.com/Olical/depot/issues/36

[2019-10-13 15:10] yuhan0 opened #532 "Parsing bug when parens are used in defn arglist position"
**version**

clj-kondo v2019.09.23-alpha-SNAPSHOT

**platform**
macOS 10.14

**problem**

`defn` and `defmacro` forms with round parens used instead of square brackets trigger a parse error on the entire file

**repro**
[code]
**expected behavior**
Warning/error about invalid function binding form, at the location of the error

**actual behavior**
[code]

[2019-10-13 15:14] yuhan0 commented on #532
Just realised parens _are_ valid in that position, and clj-jkondo could be trying to parse it as a multi-arity function form.

Additional repro:
[code]
[code]

[2019-10-14 09:42] borkdude commented on #530
Thanks for reporting. Out of curiosity, is this used anywhere and are you using this variant?

[2019-10-14 10:22] dancek opened #533 "CLJS namespace as constructor causes warning for unused namespace"
NOTE: I'm planning to submit a PR fixing this, and from a discussion in Slack was already pointed in the right direction. I'm just posting this bug report in case I forget (ie. if you don't hear from me in a week I'm probably not working on this).

Related to #446; a similar fix should work (and this should also only be for string namespaces).

---

**version**

master

**platform**

any

**proble

[2019-10-14 10:28] borkdude commented on #533
For reference, this is where and how the string requires is checked:

https://github.com/borkdude/clj-kondo/blob/154dfd7f52f6362c5d8cc7ceae84c76a4d212204/src/clj_kondo/impl/namespace.clj#L209

[2019-10-14 10:35] kommen commented on #530
I've used it once, but only since Mike mentioned it. I'm not aware of any "real world" usage.

[2019-10-15 06:12] mrijk opened #535 "Warn about empty statements where the return value is ignored."
**Is your feature request related to a problem? Please describe.**

We recently had a problem with some code like:

[code]
The intention was to have:

[code]
In the first example [:foo] is just an empty statement.

**Describe the solution you'd like**
I would like to see clj-kondo warn about the first statement (or even multiple empty statements) if they have no side effects:

[code]
Should not gi

[2019-10-15 08:09] borkdude commented on #371
Implemented at https://github.com/borkdude/clj-kondo/tree/master/analysis#namespace-graph.

[2019-10-15 08:09] #371 closed

[2019-10-15 08:09] #367 closed

[2019-10-15 08:11] borkdude commented on #535
Duplicate of #298

[2019-10-15 08:11] #535 closed

[2019-10-15 08:29] borkdude commented on #303
This is now implemented (see #445).

[2019-10-15 08:29] #303 closed

[2019-10-15 08:32] #4 closed

[2019-10-15 08:35] borkdude commented on #23
A basic for of type checking is implemented in #445. Spec enhancements to do this may be possible, not sure if and when.

[2019-10-15 08:35] #23 closed

[2019-10-15 08:38] #56 closed

[2019-10-15 08:42] borkdude commented on #247
I guess this is a variation of #298.

[2019-10-15 08:43] #419 closed

[2019-10-15 08:45] #432 closed

[2019-10-15 08:54] borkdude commented on #363
Already implemented.

[2019-10-15 08:54] #363 closed

[2019-10-15 09:43] martinklepsch opened #536 "Improve support for Rum's defc macros"
When using [Rum](https://github.com/tonsky/rum) it's [`defc`](https://cljdoc.org/d/rum/rum/0.11.3/api/rum.core#defc), [`defcs`](https://cljdoc.org/d/rum/rum/0.11.3/api/rum.core#defcs) and [`defcc`](https://cljdoc.org/d/rum/rum/0.11.3/api/rum.core#defcc) macros are not treated like `defn`. This results in clj-kondo not recognizing the defined names as well as bindings listed in the arglists to thos

[2019-10-15 10:06] imrekoszo commented on #524
I believe this could be due to this change in the last alpha: https://github.com/borkdude/clj-kondo/commit/bfb4684f91fab599cc5beab8c8a787583452b149#r35491695

We only noticed it as some of our builds suddenly started breaking.

[2019-10-15 10:09] borkdude commented on #524
@imrekoszo If the default setting for unresolved symbol is problematic in your CI config, you can always turn it down a notch with `--config '{:linters {:unresolved-symbol {:level :warning}}}`.

[2019-10-15 10:38] marcomorain commented on #532
The same error in Clojure:

[code]

[2019-10-15 10:44] imrekoszo commented on #524
Thanks @borkdude I was aware that there is a setting and I'm going through the code right now :) My remark was just in relation to `:error` being the new default as opposed to `:warning`. This change could have caused build breakages for teams using the default setting for this check, such as ours. I'm not debating the change itself, I also prefer to treat them as errors.

[2019-10-15 13:09] borkdude opened #539 "cleanup of inlined version of tools.reader"
Regarding the inlined version of tools.reader:

- the dir should be renamed from inlined to reader
- the version number should go
- all unused namespaces should go
- we should look at commits after version 1.2.2 (https://github.com/clojure/tools.reader/commits/master?after=97d5dac9f5e7c04d8fe6c4a52cd77d6ced560d76+34) to see if there's anything interesting to upgrade

[2019-10-15 16:08] imrekoszo commented on #524
@borkdude absolutely no problem, we probably should have paid more attention to the warnings in the first place :)

[2019-10-16 13:46] borkdude commented on #533
Fixed with https://github.com/borkdude/clj-kondo/commit/4c52ab5b131b60fb3939afebf604918c43e601c1. Thank you @dancek.

[2019-10-21 09:04] borkdude commented on #532
Fixed with https://github.com/borkdude/clj-kondo/commit/5da39aecffa8fc5de8d8f34d6b7132a6dd436f43

[2019-10-21 11:28] borkdude opened #541 "clj-kondo.lsp (language server protocol) to support Windows+VSCode users"
- clj-kondo.lsp will be a different project using clj-kondo as a lib. It will be deployed as a standalone jar wrapped with https://github.com/BrunoBonacci/lein-binplus.
- a VSCode plugin will be developed as the first client

This will bring a good clj-kondo experience to Windows users using VSCode.

[2019-10-21 23:01] andrezacm opened #542 "java.io.FileNotFoundException: .clj-kondo/.cache/$version/lock"
**version**
v2019.10.11-alpha

**platform**
macOS v10.14.6

**problem**
Unexpected error when a project has a .clj-kondo directory

**repro**
`brew install borkdude/brew/clj-kondo`
`mkdir .clj-kondo` (in the root of my project)
`clj-kondo --lint "$(lein classpath)"`

**expected behavior**
Same report I have when running the same thing without .clj-kondo directory

**actual behavior**
[code]

[2019-10-22 07:25] borkdude commented on #542
@andrezacm Thanks for reporting! I have one other user report this on Slack, but I wasn't able to reproduce it then.

- Can you make a minimal copy of your project where the error still occurs, with all sensitive information removed and attach it as a .zip here? I hope I can reproduce on my own system.

- Can you try linting in the same way as above with the uberjar? That is available here:
https:

[2019-10-22 11:17] borkdude commented on #542
@andrezacm I've tried to repro this on my own system where I'm also using MacOS:

[code]

Can you maybe also try these steps?

[2019-10-22 14:30] andrezacm commented on #542
Thanks for answering @borkdude, I've reproduced the steps with a brand new project in the same computer and it worked perfectly, although the project related it's from the company I work for I can't send it here, I'm going to try in other projects though. We could talk on slack too if it's easier.

[2019-10-22 18:17] borkdude commented on #542
From Slack:

It turns out that linting the project sources go well, but the problem is with one of the dependencies from the classpath. Yet to be determined which dependencies are problematic.

[2019-10-24 09:55] borkdude opened #543 "Consider switching off unresolved symbols / arity warnings in macros automatically"
Unresolved macros are a common source of false positives macros. Clj-kondo often knows when something is a macro because it has seen it while linting previous files. We could decide to not show unresolved symbols in macros for which no special analysis happens.

Alternatives:
...

[2019-10-24 18:45] borkdude opened #545 "unused Java(Script) imports"
Emit a warning when a Java(Script) import is unused. Depends on #450.

Imports are registered using these calls:

[code]

[2019-10-24 18:52] andrezacm commented on #542
From slack:
After removing corporate dependencies from classpath it is running well.

[2019-10-24 21:30] SevereOverfl0w opened #546 "Warn on non-existent variable in `:rename` or `:refer`"
**Is your feature request related to a problem? Please describe.**

:rename doesn't give much feedback if you've given the wrong name.  Fortunately when you try and use it clj-kondo will warn there.

**Describe the solution you'd like**

Warn on the actual error, the incorrect `:rename` or `:refer` of the variable to something that doesn't exist.

**Describe alternatives you've considered**
...

*

[2019-10-25 08:16] PEZ commented on #536
For me it seems to work fine to lint `defc` as `defn`. Maybe I am missing something?

`defcs` is another story, of course. It seems to call for a way to inform clj-kondo about the arity that the macro needs.

Well, I should probably not speculate in solutions, I know too little about the whole thing. Let's just say that it would be really nice to have clj-kondo's help when using these macros. 😄 ❤️

[2019-10-25 08:21] borkdude commented on #536
@PEZ I believe mixins mess with the defn syntax linting.

[2019-10-25 09:00] PEZ commented on #536
I thought it would too, but it doesn't seem to do so.

[2019-10-25 14:49] imrekoszo opened #547 "The :type-mismatch linter runs even in contexts where :invalid-arity is turned off"
**version**

clj-kondo v2019.10.11-alpha

**platform**

os x

**problem**

The `:type-mismatch` linter runs even in contexts where `:invalid-arity` is turned off, for example by https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-arity-linting-inside-a-specific-macro-call

This is problematic as although there is a way to fine-tune where arity checks will be executed, type chec

[2019-10-25 20:39] PEZ opened #549 "”never used” warnings, although they are used in the `:test` map"
**version**

v2019.07.31-alpha

**platform**

MacOS

**problem**

I get listing warnings about not using required namespaces and symbols, even though I do use them, inside the `:test` map of my `defn`.

**repro**

[code]

**expected behavior**

No warnings about unused namespaces and symbols.

**actual behavior**

Warnings about unused namespaces and symbols.

[2019-10-25 21:00] borkdude commented on #549
@PEZ Could you maybe upgrade your installation? This is a pretty old version of clj-kondo.

Furthermore I think this is a duplicate of #526. If you want to test the fix for that, you can try this MacOS binary:

https://6646-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.12-alpha-SNAPSHOT-macos-amd64.zip

While trying your example I found one additional problem, the `#js` reader tag

[2019-10-25 21:01] borkdude opened #550 "#js reader tag in metadata falsely reported as unresolved (lang: cljs)"
Repro:
[code]

See #549.

[2019-10-25 21:09] PEZ commented on #549
I spotted the problem using the clj-kondo extension, though, which should be a rather new version, right?

[2019-10-25 21:14] PEZ commented on #549
I get the same result with `v2019.10.11-alpha`.

[2019-10-25 21:18] borkdude commented on #549
@PEZ That's correct, it was more a general remark. The fix for #526 was not yet released, that's why I pointed you at a pre-release binary.

[2019-10-26 07:04] PEZ commented on #549
Oh, sorry. I stopped reading after upgrade, it seems.

Here are the results from the pre-release version:

[code]

So the issue I was seeing is definitely fixed there. Closing this!

[2019-10-26 07:04] #549 closed

[2019-10-26 08:58] borkdude commented on #547
@imrekoszo I'm beginning to think there should be an all-in-one setting to turn off all relevant linters to avoid false positives in macros. So something like `:ignore-calls [foo/bar]` where you put the fully qualified names of the macros and when called unresolved symbols, arity errors, private var usage and type checking errors will be ignored. What do you think? It might also be a nice feature

[2019-10-26 09:14] PEZ commented on #547
A master switch is nice if I can also fine tune. Well, even if I can't fine tune, but with fine-tuning it would be extra nice.

As for tooling. Yes, some sort of help for the user to at least know where to tune the listing. Maybe [this issue](https://github.com/borkdude/clj-kondo.lsp/issues/2) on `clj-kondo.lsp` is relevant here.

[2019-10-26 09:54] #531 closed

[2019-10-26 09:54] #381 closed

[2019-10-26 09:54] #514 closed

[2019-10-26 09:54] #524 closed

[2019-10-26 09:54] #526 closed

[2019-10-26 09:54] #532 closed

[2019-10-26 09:54] #533 closed

[2019-10-26 09:54] #541 closed

[2019-10-26 09:54] #550 closed

[2019-10-26 13:09] imrekoszo commented on #547
I have a short term and a long term answer :) Let me start with the short term one:

Currently the only way to not get false positive errors for the repro cases I submitted is to globally turn down the `:level` of `:type-mismatch`, even if the false positive only occurs in a single place. This causes us problems in a few projects as we would prefer to have the linter at `:error` level everywhere e

[2019-10-27 08:09] p-himik commented on #479
I still see this false positive on sets with clj-kondo 2019.10.26:
[code]

[2019-10-27 08:58] borkdude opened #554 "false positive when using result of conj as a function"
[code]
gives:
[code]
cc @p-himik

[2019-10-27 08:59] borkdude commented on #479
@p-himik Thanks for reporting, I made a new issue for it:

https://github.com/borkdude/clj-kondo/issues/554

[2019-10-27 09:03] borkdude opened #555 "conj could use same type inference as into: return type is same type as first argument"

[2019-10-27 11:12] p-himik opened #556 "Potential false positive with `UtcDateTime.fromTimestamp` in CLJS"
**version**

2019.10.26

**platform**

Ubuntu 19.10

**problem**

Many projects, including one of mines, use `UtcDateTime.fromTimestamp` in just that exact form, with an addition of a prior `(:import [goog.date UtcDateTime])`.
A real world example: https://github.com/andrewmcveigh/cljs-time/blob/ea76ee787353762088892912f8c17863316e9f6d/src/cljs_time/coerce.cljs#L29

**repro**

[code]

The linter c

[2019-10-27 11:42] borkdude commented on #556
Repro:

example.cljs:

[code]
[code]

[2019-10-27 12:28] borkdude commented on #554
@p-himik

This issue should now be solved with this linux binary:

https://6699-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.27-SNAPSHOT-linux-amd64.zip

If you can test it, I'll merge this to master.

[2019-10-27 12:34] p-himik commented on #554
@borkdude Seems to work, thank you!

[2019-10-27 12:43] borkdude commented on #547
I agree, thanks.

As for the macro description data structures: this has been in the back of mind for a while and that would indeed be useful. Welcome to open a new issue for this and post ideas/proposals there.

[2019-10-27 20:02] imrekoszo commented on #547
Thank you very much for the merge. I'll have a think about the macro topic and try to come up with a starting point for an issue.

[2019-10-28 06:31] remkop commented on #276
Related: https://github.com/oracle/graal/issues/1762

To avoid the dependency on a separate `mscvr100.dll` (which is often missing in Windows systems), one idea is to use a different compiler flag to statically link libraries. [Currently](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeBootImageViaCC.java#L201) the native imag

[2019-10-28 09:01] borkdude commented on #276
Thanks @remkop! I subscribed to that issue. In my opinion, a larger native binary size is less of a problem than the .dll errors.

[2019-10-28 10:15] mbbee commented on #276
It is msvcr100.dll not mscvr100.dll i think ...

[2019-10-28 10:18] remkop commented on #276
@mbbee  Thanks! I fixed the typo in my previous comment.

[2019-10-28 14:07] borkdude opened #558 "warn on when form with empty body"

[2019-10-28 15:53] orestis opened #559 "Third-party config (hx.react/defnc, compojure, etc)"
hx is a React wrapper. It works by defining its own `defnc` macro to pre-process hiccup.

The linting rule is just this:
```{:lint-as {hx.react/defnc clojure.core/defn}}```

Would be nice to get this built in clj-kondo :)

[2019-10-28 16:15] borkdude opened #560 "refer :all, be able to exclude certain namespaces like alda.core"
Some libraries, like https://cljdoc.org/d/io.djy/alda-clj/0.2.2/api/alda.core, assume that the user is going to `:refer :all` the core namespace. The vars from these namespaces form a DSL. In these cases it would be nice to inform the `:refer-:all` rule that it should not give a warning.

Example code:

[code]

Proposal:

`{:linters {:refer-all {:exclude [alda.core]}}}`

[2019-10-28 16:32] orestis commented on #559
I think you explained on Slack already, but I didn’t get what is the technical holdup to allow library authors to expose linting rules as part of macro metadata. If people have to pre-warm the cache to get all the symbols for the library anyway, then that needs to happen before linting the consumer namespace.

But OTOH it’s the end of the day and I have no idea how things work under the hood 😅

[2019-10-28 16:38] borkdude commented on #559
@orestis Some reasons:

My assumption is that a lot of people don't really lint all their libraries and just fire up their editor and start working. Meanwhile clj-kondo save information about every edited file in the cache. So when people define a function, the arity is saved into the cache. When they use a function somewhere else, the cache is consulted.

Requiring people to lint from the command

[2019-10-28 18:50] borkdude opened #561 "lint namespace alias consistency"
[code]
Warn when someone refers to `foo.bar` as something else than `bar`, etc.

Maybe the value in the config map should also be a map so it can take options, like: except in this namespace. But maybe the point of this linter should be that it's consistent without exceptions?

[2019-10-28 19:05] borkdude commented on #561
@daveyarwood

- Both warnings would be emitted when you would take some time to decide what is the agreed upon alias for `foo.bar`, `bar` in the starting comment.

- Linting these rules without any configuration would be complicated to implement and reason about. What would be "the other place" in the error message for example? Would you like to have errors when linting only two files which requir

[2019-10-28 19:14] daveyarwood commented on #561
Is it possible to add warnings in both places? Like if namespace `bar` requires `foo :as f` and namespace `baz` requires `foo :as foo`, could we add warnings to the `foo` require in both files?

I think this all depends on how opinionated clj-kondo wants to be. I could see the benefit of doing it either way. Personally, I like it when my linter is opinionated, can find a lot of problems and just t

[2019-10-28 19:18] borkdude commented on #561
In that case there isn't really a benefit of having this inside the linter, if it has to see the entire project first. Then use the analysis export.

[2019-10-28 22:28] borkdude commented on #561
@daveyarwood I wrote down some of the principles I've been using to build clj-kondo here:

https://github.com/borkdude/clj-kondo/blob/master/doc/dev.md#design-principles

I hope it adds to the understanding of trade-offs.

[2019-10-28 22:28] borkdude commented on #559
@orestis

I wrote down some of the principles I've been using to build clj-kondo here:

https://github.com/borkdude/clj-kondo/blob/master/doc/dev.md#design-principles

I hope it adds to the understanding of trade-offs.

[2019-10-29 09:59] borkdude opened #563 "datalog linting"
What is needed for datalog linting?

1) Determine which fully qualified function calls need datalog linting and which arguments represent datalog. Where do we put this, in configuration, or hardcode it into `analyzer.clj`?

2) Write a function that lints the datalog expression and hook it into the analyzer.

3) Write unit tests:

These are the tests that we can use to see what should be supported:

[2019-10-29 12:53] agoldhammer commented on #25
In addition, using the idiomatic reagent  [component.classname ...]  or [component#id ...] produces "unresolved symbol" errors. Can this be fixed?

[2019-10-29 12:54] borkdude commented on #25
@agoldhammer That's a separate issue. Can you please make an issue with a self-consistent example (.cljs file) that I can lint?

[2019-10-29 14:41] borkdude commented on #25
@agoldhammer According to a Reagent maintainer on Clojurians slack (@Deraen) this is not supported.

[2019-10-29 14:58] agoldhammer commented on #25
Sorry, my mistake. Supported in Hiccup, not Reagent. Please ignore.

[2019-10-29 17:29] borkdude commented on #561
@daveyarwood One other consideration. If the linter were to incrementally inform you of conflicts between aliases, you will still have to decide which one to choose for your project. That moment of choice will probably end up in the config (like the starting comment) anyway. So why not do it up front.

[2019-10-29 18:33] daveyarwood commented on #561
That's a great point - I think that seals the deal for me. I think the idea is that in scenarios like these, we do have an idea about what "the right alias" should be for particular namespaces, so it's better that we explicitly specify that in the config.

Thanks for sticking with this debate and convincing me :)

[2019-10-30 13:20] borkdude commented on #561
@daveyarwood What do you think: when you do not use an alias at all, should this rule bug you about it that you should use the recommended alias from the config? E.g. `fully.qualified.old-api/launch-missiles`?

[2019-10-30 14:37] daveyarwood commented on #561
I don't think it should bug you in that case. I think there might be legitimate use cases for fully qualifying vars, so I would hesitate to have the linter complain about that, in general.

From namespace to namespace, I could see somebody having a preference for fully qualifying instead of using an alias.

Basically, I don't know if having a linter warning would provide much value, and it would p

[2019-10-31 09:05] nenadalm commented on #438
Imatic is using clj-kondo

website: https://www.imatic.cz/
logo: https://avatars1.githubusercontent.com/u/568033?s=200&v=4

[2019-10-31 10:16] borkdude opened #566 "false positive for `(hash-set 1)`"

[2019-11-01 18:10] markdingram commented on #542
Seems to be related to the size of the classpath - copy pasted a few projects dependencies together to give a reproducible project - https://gist.github.com/markdingram/b6898f2b830c76774deb1fb09bd28548

As it stands this project consistently fails.

From a quick look doesn't seem to be 1 dependency in particular as the root cause - removing different deps leads to a successful run.

[2019-11-01 19:40] borkdude commented on #542
@markdingram Thanks for that, I can repro. I will include that project.clj in a comment here:

[project.clj.zip](https://github.com/borkdude/clj-kondo/files/3799357/project.clj.zip)

So using `clj-kondo --lint $(lein classpath)` I get the above error, but not using the standalone jar:

[code]

Maybe it's a GraalVM related issue. I will search in that direction.

The relevant code is here: https://

[2019-11-01 19:59] borkdude commented on #542
I created a GraalVM issue [here](https://github.com/oracle/graal/issues/1804).

[2019-11-01 20:55] borkdude commented on #542
@markdingram Are you also using MacOS? Which version of MacOS?

[2019-11-01 21:27] markdingram commented on #542
Yes, also 10.14.6

Sent from my iPad

[2019-11-01 21:28] borkdude commented on #542
Interesting, so far I've only had macOS people mention this problem and one linux user who could not reproduce it.

[2019-11-02 00:23] sogaiu opened #568 ":col value off-by-one for some vars in :var-usages portion of analysis data"
**version**

commit 9de6b455a8ccd6df7923cb480b621c42572908a1

**platform**

manjaro linux

**problem**

At least some used identifiers are reported as being at a column which is one less than they should be.

For example, an identifier might be located at column 2, but is reported as being at column 1.

**repro**

`clj-kondo --lint - --config '{:output {:analysis true :format :edn}}}' <<< '(+ 1)'

[2019-11-02 15:34] borkdude commented on #542
@andrezacm @markdingram Found the cause and hopefully fixed! The problem was then when opening JarFiles, they were never closed and apparently weird things happen in the binary version when you have too many of them open.

This new Mac binary should fix the problem:

https://6819-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.10.27-SNAPSHOT-macos-amd64.zip

[2019-11-02 19:11] borkdude commented on #568
[code]

This is bad practice, since the call may look like this: `(   + 1 2 3)`.
Instead we should output the row and col of the name used in the call to the analysis export while leaving the rest of the code untouched. You can get to the row and col of the name via metadata on the name symbol.

[2019-11-03 14:39] borkdude commented on #556
Recorded from a Slack conversation in #clojurescript:

[code]

[2019-11-03 18:17] tyohDeveloper opened #576 "Using kondo with Clara rules."
Clara defines "defrule" which kondo doesn't seem to be able to understand. Do I need to alter the configuration to allow new macros? Or do I just need to ignore it?

[code]

[2019-11-03 18:24] borkdude commented on #576
@tyohDeveloper To disable warnings inside the call to `defrule` you can use:

[code]

inside your `.clj-kondo/config.edn` file.

[2019-11-03 19:47] #561 closed

[2019-11-03 19:47] #530 closed

[2019-11-03 19:47] #450 closed

[2019-11-03 19:47] #568 closed

[2019-11-03 19:47] #556 closed

[2019-11-03 19:47] #542 closed

[2019-11-03 19:47] #566 closed

[2019-11-03 19:47] #554 closed

[2019-11-03 19:48] #547 closed

[2019-11-03 19:48] #250 closed

[2019-11-03 22:08] borkdude opened #579 "improve linting build.boot files"
Vars to recognize:

- set-env!
- task-options!
- deftask
- with-pre-wrap
- target

[2019-11-03 22:28] borkdude commented on #559
TODO:

- add config for build.boot
- add config for clara.rules #576
- add config for compojure

[2019-11-03 23:12] #576 closed

[2019-11-05 12:20] slipset opened #583 "unresolved symbols in compojure macros"
When destructuring like this:
[code]
clj-kondo flags `id` and `system` as unresolved symbols. I would expect it to not.
![Screenshot 2019-11-05 at 13 19 58](https://user-images.githubusercontent.com/5894926/68207479-4e63fe80-ffcf-11e9-8817-c600e13ea2b7.png)

[2019-11-05 12:35] borkdude commented on #583
@slipset Thanks! Could you provide a complete example, like:

foo.clj:
[code]
so I can do:
[code]
to reproduce it?

[2019-11-05 13:16] slipset commented on #583
[code]

fails with
[code]

[2019-11-05 13:23] borkdude commented on #583
@slipset This is because `ANY` is a compojure macro. Clj-kondo doesn't understand custom macros, but you can teach/silence it using configuration.

I plan to include built-in compojure config (as part of #559), but for now you can use:

[code]
in your `.clj-kondo/config.edn`.

[2019-11-05 13:28] borkdude commented on #583
Or even better yet, clj-kondo add built-in support for the compojure macros, as a second pass on this.

[2019-11-05 13:58] borkdude commented on #583
@slipset If I were to support the compojure macros out of the box by doing actual analysis, would I need to parse the routing string or are all relevant symbols introduced by the following destructuring form?

[2019-11-05 14:57] borkdude opened #584 "Add built-in support for compojure macros"
Relevant documentation: https://github.com/weavejester/compojure/wiki/Destructuring-Syntax

[2019-11-05 22:04] borkdude commented on #583
Fixed with https://github.com/borkdude/clj-kondo/commit/e5f8af54590b084cc119263698bdc786bfc6434f.

[2019-11-05 22:18] borkdude opened #587 "Detect duplicate case test constants"
[code]

[2019-11-06 06:46] yuhan0 opened #588 "Unexpected error with int called on non-numeric literal"
**version**

clj-kondo v2019.11.03
**platform**
macOS 10.14
**problem**

clj-kondo throws an exception when the `int` function is called on a non-numeric literal.

**repro**
[code]
The same error happens with `(int :abc)`, `(int [])`, `(int {})` etc. but not with the related fns `float`, `long`, `short`, `byte`.

**expected behavior**

Return a type error / warning

**actual behavior**
[code]

[2019-11-06 08:26] borkdude commented on #588
Fixed with https://github.com/borkdude/clj-kondo/commit/ed6754c375bb7a6fadc944de7412d2f9df5321e6.

New Mac binary:

https://7000-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2019.11.04-SNAPSHOT-macos-amd64.zip

[2019-11-06 10:18] barkanido opened #590 "reporting unused private vars inside macros"
**version**

v2019.11.03

**platform**

OsX, Clojure 1.10, Java "1.8.0_162"

**problem**

clj-kondo reports `Unused private var` for vars inside `mount.core/defstate`

**repro**

[code]

**expected behavior**

clj-kondo should understand that `init-db` is _used_ somehow, or at least silence this warning  for specific macros (like `mount.core/defstate`)

**actual behavior**

`warning: Unused privat

[2019-11-06 16:56] viesti commented on #587
This reminds me of another `case` thingy, where symbols as test constants might lead to a bit unexpected result:

[code]

Symbols as test constants might be rare enough so that such use might be worthy of a warning.

[2019-11-06 18:59] borkdude opened #592 "macOS catalina signing"
https://github.com/mitchellh/gon

[2019-11-06 20:48] borkdude commented on #339
Related #515

[2019-11-06 22:09] borkdude commented on #590
@barkanido Can you please provide a minimal but complete lintable example, including a namespace declaration, so I can paste the code in a `repro.clj` file and can run:

[code]

where `...` is the configuration you are currently using for mount.core, if any.

[2019-11-07 06:50] jrasanen commented on #587
@borkdude: should @viesti's case be a separate issue?

[2019-11-07 06:53] barkanido commented on #590
sure:

[code]

[code]

[code]
I have resolved the `unresolved symbol` by using `:lint-as {mount.core/defstate clojure.core/declare}`.

[2019-11-07 07:01] viesti commented on #587
Yeah, most probably, I'm known to fail at communication :D

[2019-11-07 07:12] viesti opened #593 "Warn on quoted symbols as test constants in case expression"
Recently I found myself in a conversation where nested if/else code was chosen instead of `case` expression because it was hard to understand how `case` works if a constant tucked behind a var is used as a test constant:

[code]

Symbols as test constants in case expression are probably a bit rare thing to come by. Maybe it would be good to have a warning about such use.

 Initially mentioned this

[2019-11-07 09:11] #563 closed

[2019-11-07 09:11] #583 closed

[2019-11-07 09:11] #588 closed

[2019-11-07 11:38] miikka commented on #590
For what is worth, I'm using `:lint-as {mount.core/defstate clojure.core/def}` and it resolves this problem.

[2019-11-07 11:41] borkdude commented on #590
@barkanido I suggest you use @miikka's config. I'll try to include it as a built-in config for a next release.

[2019-11-07 13:00] barkanido commented on #590
@borkdude thanks for the swift response!
using `:lint-as {mount.core/defstate clojure.core/def}` instead of `:lint-as {mount.core/defstate clojure.core/declare}` solves this.

Btw, `:lint-as {mount.core/defstate clojure.core/declare}` is an idea from the docs so it might be better to update them.

[2019-11-07 13:01] borkdude commented on #590
@barkanido Can you point to the exact location in the docs where you picked this up?

[2019-11-07 13:02] borkdude commented on #593
@viesti I regularly use symbols in case expressions myself. Since this is valid behavior I don't think warning about it will be a good enhancement. Although I do sometimes make the mistake of quoting values in case, like:

[code]
which won't match if `x` equals `(symbol "foo")`, so I think a warning about that would be appropriate.

[2019-11-07 13:09] barkanido commented on #590
https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unresolved-symbols-from-being-reported

[2019-11-07 13:15] borkdude commented on #590
@barkanido I wasn't suggesting to use `:lint-as declare` there, but to literally write:
`(declare foo)` to suppress warnings about an unknown var `foo`.

[2019-11-07 13:20] #590 closed

[2019-11-07 18:29] geraldodev commented on #559
support for defsc macro from fulcro would be nice

http://book.fulcrologic.com/#_the_defsc_macro_2

[2019-11-07 19:13] borkdude commented on #559
@geraldodev Does `{:lint-as {com.fulcrologic.fulcro.components/defsc clojure.core/defn}}` work?

[2019-11-07 19:14] thenonameguy opened #596 "Analyze `clojure.test/are`"
**Is your feature request related to a problem? Please describe.**
Sometimes we use `clojure.template/do-template` in place of `clojure.test/are` in our test suite since the former keeps line metadata. Sadly this macro is currently not yet handled by clj-kondo. The linting of the two macros can be shared, making this probably an easy enhancment.

**Describe the solution you'd like**
`clojure.templ

[2019-11-07 19:16] borkdude commented on #596
@thenonameguy There is currently not really an analysis for clojure.test/are other than that it's configured as `{:linters {:unresolved-symbol {:exclude [(clojure.test/are) (cljs.test/are)]}}}` which means: ignore all unresolved symbols in these macros. But I will consider supporting them with full analysis, since they are in core.

[2019-11-08 09:44] borkdude commented on #596
Note to self:

`clojure.test/are` and `clojure.template/do-template` can take more than two symbols:

[code]

[2019-11-08 11:21] geraldodev commented on #559
@borkdude  It worked. Thank you for the tool. Very useful and fast !

[2019-11-08 12:48] borkdude opened #597 "False positives when using macros in metadata test function"
[code]

[code]

[2019-11-08 17:37] carrete opened #598 "False positive on clojure.test.check.properties/for-all"
**version**

2019.11.07

**platform**

Run on the JVM as shown in this commit: https://gitlab.com/tvaughan/kibit-runner/commit/8399d7af94cf07ca3cadc599a831092c22dfb749

**editor**

N/A

**problem**

clj-kondo reports:

    test/kibit_runner/utils_test.clj:14:18: error: unresolved symbol paths

on:

[code]

**repro**

https://gitlab.com/tvaughan/kibit-runner

Failed pipeline job: https://gitlab.com

[2019-11-08 18:54] borkdude commented on #598
@carrete This false positive can be prevented using configuration:

[code]

[code]

Configuration stored in `.clj-kondo/config.edn` is automatically picked up by clj-kondo.

[2019-11-08 18:55] #598 closed

[2019-11-08 18:58] borkdude commented on #559
I think having a configuration section with lots and lots of examples and reference configs for third party libraries is better than having this built into clj-kondo.

1) people will learn how to use the configuration options when visiting that page
2) clj-kondo won't become slower as the result of a growing built-in config

[2019-11-08 19:10] carrete commented on #598
Awesome! Thanks!

[2019-11-11 08:46] borkdude opened #602 "warn when unresolved symbols are present in namespace metadata"
Linting a custom macro as `->` doesn't work when not quoting the `:clj-kondo/config` metadata.
In that case clj-kondo should warn about unresolved symbols (in the same way as we fixed #597).

E.g.: `(ns foo {:clj-kondo/config {:lint-as {foo bar}}})` => unresolved symbols foo and bar.

This however works:
[code]

This gives:

[code]

[2019-11-11 09:50] borkdude opened #603 "macroexpand clojure.template/do-template"
To support clojure.template/do-template we'll have to implement a macroexpansion for it, to support cases like:

[code]

[2019-11-11 10:08] borkdude commented on #596
@thenonameguy clojure.test/are is support with https://github.com/borkdude/clj-kondo/commit/b9c4ba5ec9c4dacf708f83459686ab1e75c3549b.

However, analyzing `clojure.template/do-template` involves more work.
I'll have to include a built-in macroexpansion for it. I think this will be medium priority, since the usage of this macro is less common. However, if you use this macro in the limited way that c

[2019-11-11 11:22] borkdude commented on #559
Related: https://github.com/borkdude/clj-kondo/issues/253

[2019-11-11 12:45] PEZ commented on #253
Would be wonderful if https://github.com/borkdude/clj-kondo.lsp supplied these!

[2019-11-11 12:49] borkdude commented on #253
@PEZ I think clj-kondo.lsp could build on the helper tool and then provide that.

[2019-11-11 12:58] PEZ commented on #253
Yeah. I was not suggesting any specific architecture. 😄 Just think that it would be very nice features for VS Code Clojurists.

[2019-11-11 17:02] thenonameguy commented on #596
Awesome, thanks! :)

[2019-11-11 18:20] sadikneipp opened #605 "False positive: `schema.core/def` is not linted correctly"
**version**
`clj-kondo v2019.11.07`

**platform**
OSX

**editor**
VSCode, Clojure Lint with `clj-kondo` installed through homebrew

**problem**
`schema.core/def` is not linted correctly

**repro**
[code]

**expected behavior**
No linter complaints.

**actual behaviour**
`src/clojure_noob/core.clj:4:8: error: unresolved symbol foo`

[2019-11-11 18:23] borkdude commented on #605
Thank you!

[2019-11-12 09:55] borkdude opened #607 "IntelliJ LSP support"
Kind of works.

Installation:

- Install the LSP Support plugin by gtache

![Screenshot 2019-11-23 23 20 21](https://user-images.githubusercontent.com/284934/69486062-d6f3f300-0e47-11ea-88fa-3f4d88954b29.png)

- Compile the clj-kondo LSP server jar:

https://github.com/borkdude/clj-kondo.lsp

- Configure the LSP Support plugin to use the jar:

![Screenshot 2019-11-23 23 19 42](https://user-images.

[2019-11-13 00:00] danielcompton opened #608 "Merging default unresolved symbols with custom ones doesn't work when using the same namespace"
**version**: clj-kondo v2019.11.07
**platform**: macOS, Homebrew
**editor**: N/A
**problem**

I have defined custom `unresolved-symbols` config for `clojure.test/is` to include a custom `clojure.test/assert-expr`. This custom unresolved symbol conflicts with the default config: https://github.com/borkdude/clj-kondo/blob/b9c4ba5ec9c4dacf708f83459686ab1e75c3549b/src/clj_kondo/impl/config.clj#L49

**

[2019-11-15 17:03] borkdude opened #609 "Type checking: check using tag of var"
Work in progress in branch `typecheck-var-usage`.

TODO:

- [x] `(def x :foo) (inc x)`
- [x] dynamic vars are excluded
- [ ] simplify stored types (now contain location, just need the tag)

On master and current branch:
- [x] cat resources/clj_kondo/impl/cache/built_in/clj/clojure.core.transit.json | jet --from transit --pretty > /tmp/master.edn
- [x] difft  /tmp/master.edn /tmp/var-usage.edn --co

[2019-11-15 17:04] borkdude opened #610 "Expected type warning for `list*`"
This doesn't trigger a type error:

[code]

Note:

[code]

[2019-11-15 22:07] borkdude opened #611 "Detect unused returns values from `conj!`, `assoc!`, etc."
Transient functions like `assoc!` do not necessarily return the same object every time. Hence the return value should be used and if it isn't, clj-kondo should warn about it.

We can use information from the eastwood map:
https://github.com/jonase/eastwood/blob/master/resource/var-info.edn#L200

Same warning applies if key :pure-fn has value true, too.  conj! is not a pure function, so I created s

[2019-11-15 22:27] borkdude commented on #298
Also see #611.

Comment from @jafingerhut about the eastwood var-info.edn file:

We can probably use that in this issue.

[2019-11-16 09:07] borkdude commented on #608
Not merging can also seen as a feature, as in: I know something better than the default configuration?

What about doing the merge yourself as in:

[code]

I'm not 100% sure what the best solution is yet, but this seems a small price to pay?

[2019-11-16 14:47] sogaiu commented on #253
Linter for a linter...? :)

[2019-11-17 08:10] danielcompton commented on #608
Yeah this is what I’ve done in the meantime. It’s a pretty niche use-case, it doesn’t seem like a high-priority.

[2019-11-18 07:52] joncol opened #612 ":lint-as macro with arbitrary length vector?"
**version**

`clj-kondo v2019.11.07`

**platform**

Arch Linux

**editor**

Emacs

**problem**

Are there any Clojure core macros that you can use with `:lint-as` for `me.raynes.conch/with-programs`? The example `config.md` contains examples for both `programs` and `let-programs`, but not `with-programs`. The latter takes a vector argument of arbitrary length.

The relevant lines from the example

[2019-11-18 08:46] borkdude commented on #612
I don't think there currently is a built-in macro that is exactly like this, so `:lint-as` probably doesn't work. You can use `{:linters {:unresolved-symbols {:exclude [(me.raynes.conch/with-programs)]}}}` to disable the unresolved symbols linter in a call to `with-programs`.

[2019-11-18 08:51] #612 closed

[2019-11-18 09:46] raymcdermott opened #613 "`clojure.set/rename` is used but not the `clojure.set` ns is not required"
Certain tools eg the REPL auto require `clojure.set` so it's not obvious that you have not required the namespace until runtime.

Please provide a warning something like:
`clojure.set/rename` is used but not the `clojure.set` ns is not required

I would be happy to help make the PR so please suggest an approach and I'll do the necessary

[2019-11-18 09:54] borkdude commented on #613
Duplicate of https://github.com/borkdude/clj-kondo/issues/339

[2019-11-18 09:54] #613 closed

[2019-11-19 08:37] borkdude opened #614 "Detect laziness in try, with-refefs, with-open and binding"
Clj-kondo could warn on things like `(try (map ...))` (laziness) inside try, with-redefs, with-open and binding. We already have information about laziness in https://github.com/jonase/eastwood/blob/fa22247fa976d03fd37cdfbb4554d26e61b3842b/resource/var-info.edn#L373.

[2019-11-19 11:54] borkdude opened #615 "Support `refer`"
[code]
is the same as:
[code]

[2019-11-20 10:33] borkdude commented on #605
Fixed with https://github.com/borkdude/clj-kondo/commit/44e36d102c0601cf1e21af2358c9ddddd2e1dca8

[2019-11-20 10:41] borkdude commented on #610
TODO, write tests:

[code]

[2019-11-20 20:41] borkdude opened #617 "Upgrade to GraalVM 19.3.0 JDK8"
See https://github.com/borkdude/babashka/commit/e7d6f7a7778679a53d75af99b36a6e800e5674d3

[2019-11-20 20:41] borkdude commented on #617
It could be interesting to see how the Windows build behaves after this upgrade.

[2019-11-21 16:34] borkdude opened #620 "Add section to dev docs how to lint files with changed code"
[code]
Also add that running `lein clean` is needed after AOT-ing.

[2019-11-22 19:29] borkdude opened #623 "Linting namespace metadata, refinements"
From Slack:

borkdude  It seems like there is a time between switching namespaces that symbols do not get qualified with the current ns anymore:
$ clj
Clojure 1.10.1
user=> (def x 1)
#'user/x
user=> (ns foo {:x x})
Syntax error compiling at (REPL:1:1).
Unable to resolve symbol: x in this context
foo=> (ns bar {:x user/x})
nil
(this is not a problem, just an observation)
noisesmith  the whole ns fo

[2019-11-23 16:24] #545 closed

[2019-11-23 16:24] #596 closed

[2019-11-23 16:24] #597 closed

[2019-11-23 16:24] #602 closed

[2019-11-23 16:25] #605 closed

[2019-11-23 16:25] #610 closed

[2019-11-23 16:25] #617 closed

[2019-11-23 22:02] #283 closed

[2019-11-23 22:02] borkdude commented on #309
Fixed with GraalVM 19.3.0

[2019-11-23 22:02] #309 closed

[2019-11-23 22:06] borkdude commented on #276
Fixed with GraalVM 19.3.0

[2019-11-23 22:06] #276 closed

[2019-11-23 22:07] borkdude commented on #25
Thought about this long enough and I don't see a feasible way to do this without producing false positives.

[2019-11-24 17:09] sogaiu commented on #233
Here's some output from running `lein test` in a Windows VM:

[clj-kondo-windows-lein-test-output.txt](https://github.com/borkdude/clj-kondo/files/3883871/clj-kondo-windows-lein-test-output.txt)

[2019-11-24 17:44] sogaiu commented on #233
Following is with 594a0236c81815ad27837507145fbd9215000e9b

[powershell.txt](https://github.com/borkdude/clj-kondo/files/3883934/powershell.txt)
[command-prompt.txt](https://github.com/borkdude/clj-kondo/files/3883935/command-prompt.txt)

[2019-11-24 18:17] littleli commented on #233
[clj-kondo-windows-lein-test-output2.txt](https://github.com/borkdude/clj-kondo/files/3883966/clj-kondo-windows-lein-test-output2.txt)
mine output, number of failed tests is different (3 less in my case)

[2019-11-24 19:20] sogaiu commented on #233
For 358ea7cbf489dacd310ca4c51d2eb9491e4f024a:

[command-prompt-358ea7cbf489dacd310ca4c51d2eb9491e4f024a.txt](https://github.com/borkdude/clj-kondo/files/3884027/command-prompt-358ea7cbf489dacd310ca4c51d2eb9491e4f024a.txt)

[2019-11-24 23:48] liquidz opened #626 "thrown? in clojure.test/are is reported as unresolved symbol"
**version**

v2019.11.23

**platform**

Ubuntu 18.04

**editor**

vim

**problem**

`thrown?` in `clojure.test/are` is reported as an unresolved symbol in v2019.11.23, while it is not reported in v2019.11.07.

**repro**

* core_test.clj
[code]

* Run clj-kondo without any configuration files.
[code]

**expected behavior**

[code]

[2019-11-24 23:54] sogaiu commented on #233
Are the following sorts of changes appropriate?

[code]

[2019-11-24 23:59] sogaiu commented on #233
With the previous patch applied to 747399812ab9722243c55e745cd5e0a7bb252caa I'm now getting:

[code]

[2019-11-25 01:00] sogaiu commented on #233
Looks like the new `remove-dirs`, `make-dirs`, and supporting friends in `cache_test.clj` might be useful for this last situation.

Would putting them in test_utils.clj make sense?

I also tried out:

[code]

as a replacement for `mv` in `main_test.clj`.

With these last pieces in place, the remaining bits that have errors for me are 3 things in `cache_test.clj`, brielfy:

[code]
in full (problems

[2019-11-25 03:33] sogaiu commented on #233
I was going to put the filesystem-related bits in a PR, but github seems to be having difficulties.

For the moment, they can be found at:

https://github.com/sogaiu/clj-kondo/commit/6fc9b61fe4ce70042488627244ac710e472809ba

[2019-11-25 09:55] yannvanhalewyn commented on #438
Brightin is using CLJ-kondo!

website: https://www.brightin.nl/
logo: https://user-images.githubusercontent.com/11170603/69530070-b4f68f80-0f71-11ea-9d95-052703cd0367.png

[2019-11-25 15:10] borkdude opened #630 "Revert #618"
If this doesn't have any added benefit for VSCode and @eraserhd will not use it anymore, we can maybe deprecate this behavior again.

[2019-11-25 20:16] sogaiu commented on #233
A portion of output from running tests natively, with a modified main.clj:
[code]
to display exception messages and stacktraces:
[code]

[2019-11-25 22:26] borkdude commented on #630
@eraserhd fwiw, I think emacs does the following: it saves the intermediate state of a file to a tmp file and then invokes the linter piping the input from the tmp file to stdin

so clj-kondo only sees the path "stdin", not even the filename
so in that case the new feature isn't very beneficial. however I think in the case of VSCode marco morains plugin, it's invoked on save and then using the fil

[2019-11-26 12:58] borkdude opened #632 "Lint in parallel"
This can speed up linting when providing a large classpath.

We borrowed some code from ClojureScript parallel-build:

https://github.com/clojure/clojurescript/blob/a15247a743d4d1c5d73224038f7289c447b38ca8/src/main/clojure/cljs/closure.clj#L1072

Without parallel:

[code]

With --parallel:

[code]

- Mac binary: https://10632-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2020.07.30-SNAPSHO

[2019-11-26 18:04] sanel commented on #632
This can be already done via `find` and `xargs` or `parallel`, but clj-kondo needs to be compiled as binary for fast startup.

Assuming standard leiningen project with `src` and `test` folders:
[code]
However, this requires `--cache false` to be used or it will start throwing exception:

[code]
Not sure if caching per process will make sense. After I disabled caching, speed was noticeable in multi

[2019-11-26 18:19] sanel opened #633 "Metadata for skipping expressions"
**Is your feature request related to a problem? Please describe.**
Apologies if this was already addressed, I wasn't able to find it in documentation. It would be nice if there is a way to explicitly skip (in code) expressions from linting, no matter what expression is.

Manually editing `config.edn` can be cumbersome sometimes.

**Describe the solution you'd like**
It would be nice to say:

[code

[2019-11-26 18:24] borkdude commented on #633
One reason I haven't supported this yet, is point 6 here:

https://github.com/borkdude/clj-kondo/blob/master/doc/dev.md#design-principles

[2019-11-26 18:25] borkdude commented on #633
Another reason could be: ignoring some forms can lead to even more warnings which should then also be ignored:

[code]

[2019-11-26 20:05] sanel commented on #633
Make sense. Thanks for quick response.

[2019-11-26 20:05] #633 closed

[2019-11-27 19:26] actonDev opened #634 "Warn on undefined variable/function in other namespace"
**Is your feature request related to a problem? Please describe.**
If in namespace i require another namespace (let's say `(:require [foo])` and i try to refer a variable `foo/var1` (where var1 is not defined) or even try to call `(foo/fn1)` where `fn1` is not defined, clj-kondo doesn't report anything.

# TODO (added by @borkdude)

- [x] I only get 2 failing tests for `goog.global` and `throw` in

[2019-11-27 19:30] borkdude commented on #634
I think this is a duplicate of #546

[2019-11-27 19:52] actonDev commented on #634
I saw it but I don't think so (though some similarities)
#546 is for the case  `(:require [foo] :refer [fn1])` not causing a warning when `fn1` is not present.

Or, I guess we could say that this one is more generic, and the #546 is a more special case with the refers.
In any case, you know how to proceed (maybe close this or the other). Was just using clj-kondo and stumbled upon this.
Cheers

[2019-11-27 20:04] borkdude commented on #634
@actonDev You're right, this one is more general. I will consider it. One challenge is that people might not have linted the `foo` namespace yet, so it is a little tricky to avoid false positives.

[2019-11-28 08:14] bsless opened #635 "unersolved symbol in :inline tag"
**version**

clj-kondo v2019.10.26

**platform**

native

**editor**

Emacs 27.0.5 `87347a5bbc2f044c51feea8d513fb1dcefa6f50e`
Spacemacs develop `bc22a259e87ed6ff3a1fcdb83dd27ffacad77a15`
Clojure settings:
[code]

**problem**

Kondo reports unresolved symbol for an `:inline` meta tag with inline definition.

**repro**

repro.clj:
[code]
kondo output:
[code]

**expected behavior**

I expect `s` to b

[2019-11-28 08:40] borkdude commented on #635
Can you upgrade to the latest version? I believe this was already fixed.

[2019-11-28 15:12] #635 closed

[2019-11-28 15:14] borkdude opened #636 "Lint nested function literal"
[code]

[2019-11-29 20:45] eraserhd commented on #630
So I'm officially not going to use it.  I'm using a work-around for setting the working directory before running clj-kondo, and I'm going to try to add official support to Kakoune to replace the work-around.

[2019-12-01 09:52] barkanido opened #637 "support schema.core/defrecord"
Since clj-kondo already supports several `schema.core` macros out-of-the-box it would be nice to also support `schema.code/defrecord` automatically.
Neither: `{:linters {:unresolved-symbol {:exclude [(schema.core/defrecords)]}}}` nor `{:linters {:lint-as {schema.core/defrecord clojure.core/defrecord}}}` satisfies the linter.

I am not sure if the default behavior should be ignoring it altogether o

[2019-12-01 10:13] borkdude commented on #637
Thanks, will implement.

[2019-12-01 11:48] borkdude commented on #607
Fixed with version 1.6.0 of the LSP Support plugin.

[2019-12-01 18:17] bsless commented on #635
that fixed it, thank you!

[2019-12-01 20:19] borkdude opened #639 "warn about special forms as function names"
[code]

[2019-12-01 20:57] borkdude commented on #559
Another idea:

Libraries could at startup emit some piece of EDN config to a designated directory. e.g. .clj-kondo/libs/clara.rules/config.edn.

The benefit of this would be that only config for the relevant libraries in one project would end up there.

Extra attention would be needed to provide backward compatibility if older libraries keep emitting old config formats. And what about wrong format

[2019-12-03 17:38] borkdude opened #640 "better error when using unqualified symbol in config"
[code]
This config causes an error which is hard to diagnose back to the configuration.

[2019-12-05 13:34] marcomorain opened #641 "Warn then a `throw` expr is not the last form in a block"
If a `(throw )` is not the last expression in a block, then the code after the `(throw )` is dead and can never be called.

**Describe the solution you'd like**
A warning about dead code found after the `throw` expression.

[code]

[2019-12-08 09:23] yuhan0 opened #642 "Odd number of forms in map literal not localised when in binding form"
**version**

clj-kondo v2019.11.03

**platform**

native

**editor**

Emacs+flycheck-clj-kondo

**problem**

When an invalid map with odd number of literals is present in a binding form, clj-kondo returns a parse error on the entire file instead of locating the line number of the error.
Outside of a binding form this appears to work normally.

**repro**
[code]
[code]
**expected behavior**

[code]

[2019-12-08 09:32] yuhan0 commented on #642
The above example also doesn't pick up on the invalid binding vector, which should also present an error. (It's a fairly common typo I make when doing map destructuring in `let`)
[code]

[2019-12-09 12:18] borkdude opened #643 "Regression diff in PR"
The output of .circleci/script/performance is used to compare linting and performance regressions.

It would be nice if a diff of that script output would show up in a PR automatically. Maybe this can be accomplished using github actions.

[2019-12-09 21:52] borkdude commented on #608
Fixed with https://github.com/borkdude/clj-kondo/commit/b4b5d689fccff5bb59b408c9773cfb815f360958.

[2019-12-11 02:17] scramjet opened #646 "Warn about let shadowing vars"
A friend of mine just spent an hour wondering why `filter` was not working properly. He just realised that he had code like `(let [filter {a: 1}] … (filter pred some-list))`. This kind of shadowing has bitten me before too when I was learning.

It would be great if clj-kondo could flag this as a warning, since it's almost never what you want.

[2019-12-12 15:12] borkdude opened #647 "Unresolved symbol js in valid CLJS code"
Repro:
[code]

[2019-12-12 16:44] alidcastano opened #648 "unresolved symbol error with syntax quotes"
clj-kondo v2019.10.26
vscode

**problem**

following discussion on slack, in snippet below `~@args# ` gives an `unresolved symbol` error but as you responded it is valid syntax

[code]

**expected behavior**

allow nesting of syntax quotes

[2019-12-12 20:53] aviflax opened #649 "Spurious unused binding warning when passing a binding to alias"
**version**

v2019.11.23

**platform**

Native image installed via Homebrew on MacOS 10.14.

Java:

[code]

**editor**

I was able to reproduce this problem from the command line

**problem**

This code is correct:

[code]

but clj-kondo issues a warning about the first line: `warning: unused binding alias-sym`

**repro**

[code]

[code]

**expected behavior**

I would expect no warning.

[2019-12-13 00:13] alidcastano commented on #648
another macro related issue is requiring a namespace used inside a nested macro but getting a `required but never used` warning

below `lib.foo` is highlighted for not being used
ex.
[code]

but it works if macro is not nested under another functioon
[code]

[2019-12-13 12:41] kwrooijen commented on #438
Mediquest uses this, thanks for your work!

Website: https://home.mediquest.nl/
Logo: https://home.mediquest.nl/wp-content/uploads/2019/07/mq-logo-rgb-online.png

[2019-12-13 12:46] Heliosmaster opened #650 "Consistent alias doesn't work when only requiring namespace without alias"
v2019.11.23

Native / macOS

**problem / repro**

In `config.edn` i have specified

[code]
In one namespace I have

[code]
it shows: `Inconsistent alias. Expected datomic instead of .`

In this case, one might be requiring a ns only to load specs, for example, without providing an alias.  Since the alias is not used, adding it would throw another warning about unused alias 🤷‍♂

In addition, I have

[2019-12-13 12:51] borkdude commented on #650
Thanks! This seems like an easy issue to fix. If you're interested in doing a PR, let me know. Else I'll get to it hopefully soon.

[2019-12-13 13:13] Heliosmaster commented on #650
I'll take a look and let you know

[2019-12-14 14:02] kommen opened #655 "False positive: clojure.core/with-local-vars bindings"
**version**
clj-kondo v2019.11.23

**platform**

native binary on macOS

**problem**

clj-kondo shoudn't warn about undefined vars in `clojure.core/with-local-vars`' `name-vals-vec` vector.

**repro**

[code]

**expected behavior**

No error.

I'd be happy to provide a PR myself. For now I put a `:lint-as {clojure.core/with-local-vars clojure.core/let}` in my local config. Would that be an accepta

[2019-12-14 15:05] borkdude commented on #655
I think it would good to add in analyzer.clj here:

https://github.com/borkdude/clj-kondo/blob/6e342b086ecb3f02dc1ed173c5eec2d6648793f2/src/clj_kondo/impl/analyzer.clj#L1062

[2019-12-14 15:20] borkdude opened #656 "dissoc, find, select-keys can take nil"
[code]

[2019-12-14 15:24] borkdude commented on #656
Fixed with https://github.com/borkdude/clj-kondo/commit/12400f16a91e02bf517d51436fcc51361bf4677d

[2019-12-14 15:41] yuhan0 opened #657 "seqable->seqable becomes seqable->seq"
**version**
clj-kondo v2019.11.23
**platform**
macOS 10.14, native
**editor**
Emacs+flycheck

**problem**
Looking at the source for the clojure.core types, I noticed an odd `:seqable-out` type that was being applied to the return values of the following functions:
- `reverse`
- `map`
- `remove`
- `filter`
- `keep`

via `seqable->seqable`:
- `next`
- `rest`
- `nfirst`
- `nnext`
- `butlast`

I belie

[2019-12-14 16:24] borkdude commented on #657
Changing this to `:seq` is not correct since seqable -> seqable functions only guarantee to operate on something seqable, then they call seq on that and return something which is seqable again. E.g. it would not be incorrect if such a function would return nil or a vector, however, those are implementation details that you should not rely on. See @puredanger's comments here: https://github.com/bor

[2019-12-14 17:25] borkdude commented on #637
Fixed with https://github.com/borkdude/clj-kondo/commit/70cfa5af43997a854d4b49bfd1ad1af83e93405f

[2019-12-14 18:58] borkdude commented on #642
Fixed with https://github.com/borkdude/clj-kondo/commit/89751c01a9f86310d50d6941557c91af2aa23331

[2019-12-14 19:28] borkdude commented on #648
@alidcastano
1) You have a typo in this example, `require` should be `:require`.
2) A namespace alias cannot be called as a function (unless in CLJS maybe), that's why the namespace is not used.

[2019-12-14 19:39] alidcastano commented on #648
ah my fault, i tried to trim down the example and accidently made it incorrect. the actual example was doing `ns/fn`, as you stated.

for exact code, here's the library I cloned locally where I was seeing the above warning:

the require call [1]:
`(:require [helix.core :as hx])`

the macro that is using it [2]:
[code]

so in above example `helix.core` has the following warning in vscode: `namespac

[2019-12-14 19:49] borkdude commented on #648
@alidcastano In this case the warning appears because the library is only used in CLJ but not in CLJS.

[2019-12-14 19:53] borkdude commented on #648
Fixed with https://github.com/borkdude/clj-kondo/commit/ff48c9a55b8ecf238bbdfbcde265b701b02d4924

[2019-12-14 19:54] alidcastano commented on #648
thanks for clarifying above misunderstanding and fixing this issue, will go ahead and close this

[2019-12-14 20:03] borkdude commented on #648
@alidcastano Thank you for reporting! I'll close the issue after releasing a new version. I keep the issues open as a reminder to write something about it in the release notes.

[2019-12-14 20:29] borkdude commented on #630
Thanks, I reverted the code.

[2019-12-14 21:01] #339 closed

[2019-12-14 21:02] #637 closed

[2019-12-14 21:03] #233 closed

[2019-12-14 21:03] #640 closed

[2019-12-14 21:04] #608 closed

[2019-12-14 21:05] #607 closed

[2019-12-14 21:06] #626 closed

[2019-12-14 21:07] #630 closed

[2019-12-14 21:08] #656 closed

[2019-12-14 21:09] #650 closed

[2019-12-14 21:10] #642 closed

[2019-12-14 21:11] #647 closed

[2019-12-14 21:11] #649 closed

[2019-12-14 21:13] #655 closed

[2019-12-14 21:13] #648 closed

[2019-12-15 04:42] yuhan0 commented on #657
I still feel like these changes are justified in the context of clj-kondo whose goal is to be a useful linting tool, even if it means leveraging some current implementation details?
Perhaps not for `speculative` which I guess has to take a stricter approach to follow the correct spec.

Even if some functions like `cycle` return a specific class type that avoids forcing a seq, practically speaking

[2019-12-15 07:52] borkdude commented on #657
@yuhan0 You can try the change and post the output of script/diff here, let’s see how it behaves.

[2019-12-15 11:26] kommen commented on #655
@borkdude thanks for the pointer!

[2019-12-15 15:50] yuhan0 commented on #657
Here's the raw terminal output of `script/diff` after replacing all instances of :seqable-out -> :seq, looks like it didn't make any difference:

[code]

[2019-12-15 19:50] borkdude commented on #657
@yuhan0 Since there are no regressions and maybe only benefits to doing this, could you enumerate a couple of examples where this would be useful instead of the current type annotation? Preferably in the form of a PR + unit tests.

[2019-12-16 08:45] yaronel opened #662 "Unresolved symbol for schema.core/defrecord auto-generated factory function"
When creating a record with [plumatic/schema](https://github.com/plumatic/schema), for example  `(s/defrecord Foo [])`, Clojure creates two factory functions:
`map->Foo` and `->Foo`.
clj-kondo accepts `->Foo`, but complains about the `map->Foo` as unresolved symbol.
[code]
Using `RELEASE` version 2019.12.14

[2019-12-16 13:05] laurio opened #663 "conj can take nil"
[code]

[2019-12-16 13:13] borkdude commented on #663
Thanks for reporting. The fix for this is relatively easy. If you're interested in a PR, let me know.

[2019-12-16 13:26] laurio commented on #663
Thank you, I'm interested! Not sure if the correct change would be to modify the line at https://github.com/borkdude/clj-kondo/blob/master/src/clj_kondo/impl/types/clojure/core.clj#L60 and change `:coll` to `:nilable/coll`?

[2019-12-16 13:27] borkdude commented on #663
@laurio That's indeed the correct fix.

[2019-12-16 13:27] yuhan0 commented on #657
I think the only core functions which are restricted to work on lists or vectors are `peek`, `pop` and `subvec`. These functions throw an error when passed a seq and would be caught by a return value of :seq but not :seqable-out.

[code]
However `subvec` is currently untyped and signatures of peek/pop are incorrect, hope it's alright if I fix those specs along with said PR :)

[2019-12-16 13:29] borkdude commented on #657
@yuhan0 Go for it.

[2019-12-16 14:43] yuhan0 commented on #657
Hmm, under the `could-be-relations` it says that a `:seq` could be a `:list`, and since `peek` and `pop` accept lists they don't produce warnings when given seqs.

I removed the :seq key from that map and ran `script/diff`, and again there were no regressions.

From my understanding, `could-be-relations` is a map from interfaces -> concrete types, it makes sense to say a `seqable` or `sequential`

[2019-12-16 15:05] borkdude commented on #657
The could-be-relations are there to prevent warnings when given a more abstract type that could have been a concrete type.

E.g. when a function is spec-ed to receive a concrete list, but all it got is a seq that we don't know for sure is a list, it should imo not give a warning.  But maybe there are no functions that depend on an argument being a concrete list anywhere?

[2019-12-16 15:15] yuhan0 commented on #657
This is the bit that doesn't make sense to me - a `seq` is itself a concrete type that is distinct from a `list`.
 If there's a value specced as a "not-sure-if-seq-or-list", then that should be a `seqable` instead of a `seq`, and the bug would be in whichever function that tagged the value as a `seq` when it really should be a more general `seqable` type. (really hope I'm not splitting hairs here)

[2019-12-16 15:16] borkdude commented on #657
[code]

[2019-12-16 15:17] borkdude commented on #657
The keywords are modelled after the predicate names in clojure, without the question marks.

[2019-12-16 15:22] yuhan0 commented on #657
[code]
That's really surprising to me, perhaps I have to read up more on the finer points of Clojure's type system...

[2019-12-16 15:24] borkdude commented on #657
Seq is a central abstraction in Clojure, not a concrete type. For the purpose of linting we might change the return type of seqable->seqable functions to seq, but I'm not sure if this is a good move. For peek and pop we might introduce a new abstraction, :stack`, take a look at speculative for this.

[2019-12-16 15:33] puredanger commented on #657
Sequences are a "logical list" abstraction. Lists are concrete lists (and thus also directly support the logical list abstraction).

[2019-12-16 15:37] puredanger commented on #657
I can't think of any core functions that depend specifically on concrete list returns (except maybe the `list` constructor). Even `list*` says that it returns a sequence.

[2019-12-16 15:49] yuhan0 commented on #657
I see, my misunderstanding came from thinking `:seq` referred to the lazy-seqs that are returned from functions like `map` and `filter`, instead of the ISeq abstraction.

It seems like there's no way within the existing type system for a linter to rule out `(peek x)` if x was produced from a seq-returning function, which was what I was attempting to do.

[2019-12-17 08:07] Saikyun opened #666 "No warning on non-existing aliases"
**Is your feature request related to a problem? Please describe.**
When refactoring I find it useful to get warnings about non-existing aliases. If I move the code `(a/f)` from ns `x` to `y`, where `x` has `(:require [alpha :as a])` and `y` doesn't, I want a warning.

**Describe the solution you'd like**
I want a warning.

**Describe alternatives you've considered**
Automatically inserting the new

[2019-12-19 07:54] Saikyun commented on #666
I might add that I'd be interesting in submitting a PR, but not sure where to start.

[2019-12-19 08:29] borkdude commented on #666
Hi @Saikyun, I believe this is a duplicate of #546.

[2019-12-19 08:29] #666 closed

[2019-12-19 09:33] Saikyun commented on #666
Ah, I see. I looked at #546 before and it wasn't quite the same. But #634 would cover this one. :)

[2019-12-20 00:58] agzam opened #672 "lsp server capabilities"
Not clear what lsp capabilities currently supported. I have attempted to use it, configured as documented, waited for it to successfully to connect.
Then tried `lsp-find-references` and it shows this message:

[code]

[2019-12-20 08:15] borkdude commented on #672
The LSP server only provides diagnostics, same as the binary.

[2019-12-20 08:15] #672 closed

[2019-12-20 09:56] DjebbZ opened #673 "False negative in advanced map destructuring"
**version**

[code]

**platform**

Linux, native executable.

**editor**

Just the command-line is enough to reproduce the bug.

**problem**

When doing some advanced destructing, clj-kondo doesn't understand the code and reports unused binding and unresolved symbols. This is pure Clojure. See repro example below.

**repro**

[code]

[code]

[code]

**expected behavior**

No error and no warning s

[2019-12-20 10:15] borkdude commented on #673
It seems the bound value of a is used in the "second" binding, but since it's an associative destructuring, the bindings aren't ordered maybe, so I'm puzzled if this should be used at all. I can't find any examples of this in the Clojure documentation. I'm going to get some confirmation from the #clojure channel on Slack for this. If this is officially supported by Clojure, I'm going to add suppor

[2019-12-20 10:24] borkdude commented on #673
An example where this doesn't seem to work:

[code]

[2019-12-20 10:51] borkdude commented on #673
According to a Clojure core contributor and the author of clojure.tools.reader this is not supposed to work. Hence clj-kondo won't support it.

[2019-12-20 10:51] #673 closed

[2019-12-20 13:55] DjebbZ commented on #673
LOL I discovered something weird then. Thanks again for being so fast to answer.

[2019-12-21 09:07] agzam commented on #672
But isn't this a bit misleading for people expecting it to use as lsp-server? What's the long term plan here? Would you like kondo to become fully-fledged lsp-server as an alternative to https://github.com/snoe/clojure-lsp or do you think it would be better to integrate clj-kondo into that project?

related: https://github.com/snoe/clojure-lsp/issues/36

[2019-12-21 09:21] borkdude commented on #672
@agzam I wouldn't mind if @snoe would integrate clj-kondo with clojure-lsp. In fact we discussed this on Slack and he agreed on this.

The rationale for the clj-kondo LSP server is:

- Some people cannot run the binary (this was Windows until not too long ago)
- VSCode people can install a package from the marketplace without installing any external dependencies except Java
- IntelliJ people now h

[2019-12-23 16:44] agoldhammer opened #674 "Can't parse <stdin>, Key must be integer"
**version**

[ 2019.12.24] with Calva

**platform**
WSL Ubuntu

**editor**

Calva

**problem**
Error: Can't parse <stdin>, Key must be integer is issued on file freshly generated by lein re-frame template

**repro**
This is the ns that generates the error:
(ns lingua.views
  (:require
   [re-frame.core :as re-frame]
   [lingua.subs :as subs]
   ))

File compiles ok, however.

**expected behavior**

[2019-12-23 17:15] borkdude commented on #674
@agoldhammer I need more information, because I can't reproduce this with the code you gave me. If I put:
[code]
in a file `/tmp/foo.clj` and lint that, I get:

[code]

Can you try and repeat that step?

A screenshot from VSCode / Calva, looks also fine there:

![Screenshot 2019-12-23 18 14 17](https://user-images.githubusercontent.com/284934/71371065-33197680-25b0-11ea-82b3-c6c7ff3f9a5f.png)

[2019-12-23 17:38] agoldhammer commented on #674
When I just put the ns form in a blank file, I get the same linting that
you do. But with the full contents of the file, I get the error shown in
this screenshot:
[image: Screenshot 2019-12-23 12.35.31.png]

[2019-12-23 18:29] borkdude commented on #674
@agoldhammer Well, then I'll need the full contents of the file. Without I cannot reproduce your bug.

[2019-12-23 18:30] borkdude commented on #674
Without the code that reproduces the error I can't be of any help. The screenshot you posted didn't come through.

[2019-12-23 18:36] agoldhammer commented on #674
Here's the code:

(ns lingua.views
  (:require
   [re-frame.core :as rf]
   [lingua.subs :as subs]
   ))

(defn main-panel []
  (let [name (re-frame/subscribe [::subs/name])]
    [:div.container
     [:div.tl
      [:h1 "Hello from " @name]]]))

[2019-12-23 18:37] borkdude commented on #674
@agoldhammer With that code I get:

[code]

[2019-12-23 19:57] borkdude commented on #674
@agoldhammer Are you perhaps using a `.clj-config/config.edn` file? Can you post what you've got in there? The error may be coming from the configuration parsing.

[2019-12-23 20:19] agoldhammer commented on #674
On Mon, Dec 23, 2019 at 2:57 PM Michiel Borkent <notifications@github.com>
wrote:

Bingo!
{:linters {:unresolved-symbol [:exclude _]}}

Removing that cleared the error. Thanks for your help! clj-kondo is great.

[2019-12-23 20:34] #674 closed

[2019-12-23 20:46] borkdude commented on #674
For completeness, this should be the correct config:

[code]
i.e. `:exclude` expects a collection there.

[2019-12-23 22:41] agzam commented on #672
Please don't get me wrong though: I said it might be misleading because clj-kondo is a project of incredible quality and naturally it might be expected for it to have better support for everything that clojure-lsp does, which in this specific case is not true. Maybe that can be emphasized in the docs.

[2019-12-23 22:42] borkdude commented on #672
@agzam PR welcome!

[2019-12-24 17:18] borkdude opened #675 "Update screenshots in README"
Some screenshots are out of date.

[2019-12-24 19:18] borkdude opened #677 "False positive type error when associating Java object"
[code]

[2019-12-30 16:39] ITSOES opened #678 "False positive on private vars using with-redefs"
Using `with-redefs` with a private variable of another namespace throws a “is private” linting error.

E.g.
[code]
returns:
[code]

There shouldn’t be any error with redefining a private var using `(with-redefs)`.

[2019-12-30 16:52] borkdude commented on #678
Thanks.

[2019-12-30 21:11] borkdude opened #679 "Warn about conflicting aliases"
[code]

[2019-12-30 22:55] borkdude opened #680 "Report var-usage when using data reader"

[2019-12-31 00:44] technomancy opened #681 ":refer :all on clojure.test is flagged as a warning"
**version**

2019.08.21-alpha

**platform**

Debian buster, openjdk version "1.8.0_232", lein master

**problem**

When you have `(:require [clojure.test :refer :all])` in your code, it gets flagged as a warning, despite the fact that the entire reason I added `:refer/:all` to `require` is to support using `clojure.test` seamlessly.

**repro**

    (ns kondo.repro
      (:require [clojure.test :re

[2019-12-31 08:00] borkdude commented on #681
@technomancy Hey Phil, thanks for your amazing work with leiningen.

I propose implementing it as part of this feature: https://github.com/borkdude/clj-kondo/issues/560
for which a PR is welcome. People can then decide for themselves if they want to add `clojure.test` to this configuration. If you don't agree with this rule in general, you can turn it off with `{:linters {:refer-all {:level :off}}

[2020-01-01 00:18] borkdude opened #682 "Support reference lint-as macros that can be used in lint-as e.g. to support orchestra.core/defn-spec"
E.g. to support `orchestra.core/defn-spec`:

[code]

we might support a non-existing imaginary reference macro `clj-kondo.lint-as-macros/defn-1` which:
- knows that a var is being created with a certain name
- doesn't create warnings for the rest of the body, but does lint usages, so e.g. no warnings will pop up for an unused private function)

This approach might also work for the Rum macros desc

[2020-01-05 08:51] didibus opened #685 "Warn on unbound defs"
Apparently, it is possible to define an unbound var such as:

[code]

Though it seems this use would be a pretty bad practice. If you need forward declaration, the use of `declare` would be much more appropriate. So in my mind, an empty def is mostly a mistake, or at the very least bad style.

For these reasons, I would love to see clj-kondo warn against that.

Regards.

[2020-01-05 17:41] borkdude commented on #639
Note that spec has `(defmacro def ...)`.

[2020-01-06 10:49] borkdude opened #686 "When doing Java interop, but warn-on-reflection isn't set, warn"

[2020-01-06 21:48] thumbnail opened #688 "unresolved-symbol on bound-fn arguments"
**version**

`2019.12.14`

**platform**

JVM, invoking the API

**problem**

arguments defined for [bound-fn](https://clojuredocs.org/clojure.core/bound-fn) aren't linted properly

**repro**

provided this file on `src/test.clj`:
[code]

running clj-kondo provides the following output:
[code]

My current workaround is adding `:lint-as {clojure.core/bound-fn clojure.core/fn}`

**expected behavior**

[2020-01-07 12:50] yuhan0 opened #690 "Use type hints on function vars to infer return types"
Type hints on function vars can be used to infer their return types, see
https://ask.clojure.org/index.php/8993/where-to-place-function-return-type-hints

Currently only tags on the arglists are used for type checking:
[code]
**Additional context**

If hints are placed in both positions, the arglist hint takes precedence.
[code]

Since the arglist hint is the preferred and less error-prone locatio

[2020-01-07 13:19] borkdude commented on #690
PR welcome. Let me know if you start working on this, so we won't duplicate efforts.

[2020-01-07 14:14] MrEbbinghaus opened #691 "Location of warning is in wrong file when linting a directory"
**version** v2019.12.14
**platform** native, macOS, installed with brew
**editor** not applicable

**problem**
I encounter a wrong filename for an _Unresolved namespace_ warning.
When only linting the file where the problem actually is the location is correct.
If linting the directory the location of the warning has a wrong file but at the same line/col.

**repro**
Commit where the problem appears

[2020-01-09 19:15] borkdude opened #692 "private-call linter should be renamed to private-var-usage"
- [ ] To preserve backwards compatibility we will keep supporting the name `:private-call`.
- [ ]  We should also write a unit test for the following:
  - Without the namespace local config it gives two private usages warnings in the foo namespace.
  - With the namespace local config it doesn't give any warnings.
- [ ] document how to use this in config.md.
- [ ] also document the `#'foo/private-v

[2020-01-10 09:37] borkdude commented on #536
@martinklepsch @robert-stuttaford Please provide concrete examples of Rum code that is currently problematic with clj-kondo, so they can be used for development and testing.

[2020-01-10 09:57] #560 closed

[2020-01-10 09:58] #663 closed

[2020-01-10 09:58] #657 closed

[2020-01-10 09:59] #662 closed

[2020-01-10 10:01] #688 closed

[2020-01-10 10:01] #677 closed

[2020-01-10 10:02] #678 closed

[2020-01-10 10:03] #691 closed

[2020-01-10 10:17] borkdude commented on #536
I think most of these macros can now be catched using the `clj-kondo.lint-as.def-catch-all` macro that is introduced in v2020.01.10. I'm closing this for now unless someone responds here.

[2020-01-10 10:17] borkdude commented on #536
See: https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#lint-a-custom-macro-like-a-built-in-macro

[2020-01-10 10:18] #682 closed

[2020-01-10 11:24] robert-stuttaford commented on #536
Both `rum.core/defc` and `rum.core/defcs` act like `clojure.core/defn`, except, they also accept an optional sequence of mixins.

[code]

[code]

[code]

[code]

`defcs` differs to defc only in that it will inject the internal state map as the first argument to the resultant function. This is useful for reaching into the state provided by mixins.

[code]

If a linter could be written to handle the

[2020-01-10 11:41] borkdude commented on #536
@robert-stuttaford Some questions:

- Do I understand correctly that these examples all give no warnings anymore when linted as `clj-kondo.lint-as/def-catch-all`? If so, it seems that implementing built-in support for these macros has lower priority.

- Could the mixins have any effect on what is and isn't valid in the function body? E.g. extra symbols that should be taken into account that are in

[2020-01-10 12:06] robert-stuttaford commented on #536
1. I confirm no warnings present when using `clj-kondo.lint-as/def-catch-all`.
2. The mixins are essentially separate functions - so, as with separate functions, there's no need to  connect linting information between them.
3. I can't speak on the future of Rum globally, but we have no plans to stop using it :-) Perhaps @tonsky can comment on this one!

[2020-01-10 13:00] tonsky commented on #536
Not yet clear. I’m not working with web dev anymore, so I can’t properly support it. I’m going to try to find someone to support it soon.

[2020-01-10 15:37] filipesilva opened #698 "Show rule name on warning/error"
**Is your feature request related to a problem? Please describe.**
It's useful to know what the rule name when trying to compose configuration, but it isn't shown anywhere.

**Describe the solution you'd like**
I don't have a strong preference for a way to show it, but would like to see it somewhere.

For instance, instead of:
[code]
Maybe this could be shown (note `[if]`, which is the rule name):

[2020-01-10 15:46] borkdude commented on #698
The format:

[code]

is problematic, since a lot of standard linting tooling expects the format:

[code]

So at the very least the name should be moved after the error level. Maybe:

[code]

The `(:if)` part should be optional and turned on by `{:output {:show-rule-name-in-message true}}` or something.

[2020-01-10 16:00] borkdude opened #699 "binding should be linted similarly to with-redefs"
It also accepts private vars in the left hand side bindings.

[2020-01-10 16:20] filipesilva commented on #496
Note: you can follow https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unresolved-symbols-from-being-reported to prevent those symbols from being reported for now.

[2020-01-10 17:41] PEZ commented on #536
I think it could be something for clj-commons. Iirc the codebase is pretty
lean, and it also feels quite complete when using it, so should be
low-maintenance. But I could be wrong of course.

[2020-01-10 18:30] tonsky commented on #536
Maybe. I didn’t know about them! Thank you

Best,
Nikita

[2020-01-12 08:32] borkdude opened #700 "'(ns foo) ::bar/baz' should report unresolved namespace"

[2020-01-13 17:04] #681 closed

[2020-01-13 17:30] mrrodriguez commented on #634
It can be convenient that it ignores cross-ns references in the linting to avoid false positives for cases where macros define symbols that kondo is not aware of.

If a future version of clj-kondo were to attempt to have a linter for these cases, I'd vote for it to be something that could be turned off (perhaps at various levels of granularity) for cases where it gives too many false positives.

[2020-01-13 20:13] thobbs opened #701 "Variable usage in with-redefs binding is ignored in some cases"
**version**

v2020.01.10

**platform**

Native version on Linux

**problem**

The latest release of clj-kondo introduced some issues with how with-redefs is analyzed. Variables that are used on the left-hand or right-hand side of the binding clause can be ignored for the purposes of "unused binding" and "unused import" checks.

I suspect this was the commit that introduced this: https://github.com

[2020-01-13 21:17] borkdude commented on #701
@thobbs Darn lazy evaluation...

Can you try with this new linux binary?

https://8016-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2020.01.11-SNAPSHOT-linux-amd64.zip

[2020-01-13 21:42] thobbs commented on #701
Wow, thank you for the super fast response!

I just tested the new binary with our full codebase and it looks great. It fixes all of the issues that appear to have been introduced.

Thanks for your hard work, and for creating such a useful tool!

[2020-01-13 22:11] #699 closed

[2020-01-13 22:11] #701 closed

[2020-01-13 22:11] borkdude commented on #701
Just released a new version. Thanks for posting the issue.

[2020-01-14 17:20] josesanch opened #702 "Support absolute paths for ns"
In shadow-cljs you can use absolute paths for including local files.
This is valid code.
[code]
clj-kondo raise this error.
java.lang.IllegalArgumentException: /vendors/daterangepicker.transit.json is not a relative path

[2020-01-14 18:06] borkdude commented on #702
Hi @josesanch, thanks for posting.

Can you disable the cache as a workaround for now:

[code]

[2020-01-16 01:49] didibus opened #703 "Create static binary for linux build"
I used to run clj-kondo on an old Linux which has an old version of GLIB_C, but it seems that the binary is now dynamically linked, and so it doesn't run anymore. Would it be possible to make a statically linked binary for linux, so it can run even on old systems which don't have the right version of GLIBC ?

[code]

I think it just needs to be called with the `--static` option when compiled, from

[2020-01-16 09:49] borkdude commented on #703
@didibus Are you able to find out what previous release still worked by looking at the history of `script/compile` and/or bisecting old release from the Github releases page? The `--static` option may have been removed because of some reason which I don't remember off the top of my head.

[2020-01-16 10:17] borkdude commented on #703
Also, feel free to make a fork and test this out on your old version of linux and check if it works with `--static`. Then make a PR. I believe this option doesn't work for every OS, which might be the reason why it was removed.

[2020-01-16 10:58] borkdude commented on #703
Another thing to think about: would it not be possible to install glibc 2.14 on the old linux machine?

[2020-01-16 23:43] didibus commented on #703
I just manually tried older and older versions until I found the first one to work. So last version that worked for me was: `Thu 07 Nov 2019 09:06:19 AM UTC`.

The doc says on Windows and macOS the option has no effect: `Warning: On systems other than Linux, this option has no effect`. I'm not sure what that implies exactly.

I could try, but I'm pretty sure if I build it on my system it would wor

[2020-01-16 23:51] didibus commented on #703
Looking through the history of the compile script, it doesn't seem like `--static` option was ever used. So maybe the build server was upgraded recently? And with it it brought a new version of GLIBC ? Like possibly it used to link against an older GLIBC ?

[2020-01-17 00:10] didibus commented on #703
Digging a bit more, it seems that it isn't possible to create true statically linking binaries for Windows and MacOS (without some pretty hacky mechanism). So I suspect that's why `--static` mentions that it does nothing on Windows and MacOS.

[2020-01-17 10:08] borkdude commented on #703
On November 22 the GraalVM version was bumped to 19.3.0. It could be that this requires a newer version of glibc. I'll try to get this confirmed in the native-image channel on GraalVM slack.

[2020-01-17 10:15] borkdude commented on #703
This is one of the replies from that channel:

[2020-01-19 22:44] danielcompton opened #705 "Reuse existing cache when rebuilding cache"
**Is your feature request related to a problem? Please describe.**

In CI and when running a full local lint, we build the whole cache before linting our project

[code]

Rebuilding the whole cache is a relatively heavyweight operation, but gives us the most complete linting results (I think?). It would be nice if we could reuse this cache between CI builds to save build time.

**Describe the solu

[2020-01-19 23:09] borkdude commented on #705
If you're using clj-kondo like this on CI you don't really need a cache.

Note that you can merge these two operations:

[code]

into one:

[code]

The config option takes Java regexes which will be matches using `(re-find (re-pattern %) file-name)`.

The `--cache` option defaults to `true` now, so you don't need it anymore, unless you want to disable caching.

This will likely already save you ti

[2020-01-20 08:54] borkdude commented on #705
So to recap, for CircleCI I would do something like this:

[code]

Note that I've not tested this, take it as pseudo-code.

[2020-01-20 11:33] borkdude commented on #705
@danielcompton If the above works out for you, it might be nice to add the final version to this as documentation to: https://github.com/borkdude/clj-kondo/blob/master/doc/ci-integration.md

[2020-01-21 00:02] danielcompton opened #706 "Incorrect warning about an unused import inside a macro syntax-quote"
**version**: clj-kondo v2020.01.13
**platform**: macOS 10.14, native image via Homebrew
**problem**

clj-kondo warns about an unused import which is used as a type hint inside a syntax-quote in a macro.

**repro**

[code]

[code]

**expected behavior**

No lint warning. If you uncomment `test-fn` or the line outside of the syntax-quote, you can see that clj-kondo correctly detects the import usage

[2020-01-21 08:48] borkdude commented on #706
@danielcompton Thanks. A workaround for now would be to fully qualify the type hint in the macro.

[2020-01-21 08:49] danielcompton commented on #705
Thanks, I’ll check this out soon and make a docs patch once I get it working.

[2020-01-21 10:04] borkdude commented on #706
@danielcompton Can you test with this new version?

https://8045-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2020.01.14-SNAPSHOT-macos-amd64.zip

Preferably your entire codebase and not just this example to make sure no regressions were introduced.

[2020-01-21 17:39] danielcompton commented on #706
I've just tested this, and can confirm that the fix worked and there are no regressions on our codebase. Thanks!

[2020-01-21 18:44] danielcompton commented on #705
I forgot to mention that clj-kondo is running as part of a lint script which which runs a few different linters and pipes them all to [reviewdog](https://github.com/reviewdog/reviewdog). I had an attempt at this, and your caching strategy seems like it would work in CI. However it won't invalidate the cache when running the script locally, unless I also reimplement CircleCI's caching logic.

I'm w

[2020-01-21 19:11] danielcompton commented on #705
Here's the script I came up with. It works, but I think it will be a little bit brittle:

[code]

[2020-01-21 21:15] borkdude commented on #705
Right now the cache logic is straightforward. The cache is only used to save things like arities so when you edit namespace `x` but are using namespace `y` from it, we can consult data from namespace `y` which we've seen before. Cache is maybe not the right name, but database maybe also isn't. Naming is hard.

I'd like to keep the caching logic as simple as possible for as long as possible. As you

[2020-01-21 21:35] borkdude commented on #705
One additional note about caching: it would be good to also include the clj-kondo version (produced by `clj-kondo --version`) in the checksum as clj-kondo uses that also in the `.cache` directory structure.

One additional note about speed: you could try linting with the uberjar instead of the executable in CI if things are taking longer than say, 10 seconds. The java version is faster overall, bu

[2020-01-21 23:03] danielcompton commented on #705
Yeah I just realised this too, and I'll also need to include the clj-kondo version in the CircleCI checksum. This is what I meant by brittle, I need to encode a bunch of knowledge about clj-kondo into a shell script wrapper around it.

[2020-01-21 23:14] borkdude commented on #705
It's not perfect, but I think it's not that bad either. For now I prefer this over changing the logic inside clj-kondo as I'm concerned that will lead to hard-to-debug problems.

[2020-01-21 23:23] borkdude commented on #705
Another idea:

If you use clj-kondo as a git or maven dependency in deps.edn, you don't have to bother with the version, since that's already part of the deps.edn file then. You can then invoke it with `clojure -A:clj-kondo --lint ...`.

[2020-01-21 23:42] danielcompton commented on #705
That's a good idea, I'l that some more. We like to use the native-image version of clj-kondo as that's faster for quick one-off builds, and the slightly slower execution in CI isn't a big deal, especially once we cache analysis.

I completely understand wanting to keep the core simple, I'll keep noodling on caching and cache invalidation.

[2020-01-22 08:10] Heliosmaster opened #708 "Add a check for requires to be sorted"
**Is your feature request related to a problem? Please describe.**
Often namespaced requires grow organically as:

[code]

**Describe the solution you'd like**
Clj-kondo triggers a warning unless namespace requires are sorted
[code]
(Note that indentation does not matter for this warning)

If this feature is interesting it might be something that I can take a look into

[2020-01-22 08:29] borkdude commented on #708
Sorting has already been mentioned here: https://github.com/borkdude/clj-kondo/issues/229
But it's good to make a separate issue out of it and a separately named linter. I think this linter should be optional (the level is set to `:off`), but it is something I would personally turn on. PR welcome. If you need any help, let me know.

[2020-01-22 10:18] borkdude commented on #705
@danielcompton I translated your bash script to Clojure. Using [babashka](https://github.com/borkdude/babashka/) it can be run fast in CI.

[code]

Note that you can get the paths from a `deps.edn` file relatively easily:

[code]

[2020-01-22 10:47] borkdude commented on #705
A snippet to extract paths from `deps.edn`:

[code]

[2020-01-23 21:09] borkdude opened #710 "redundant do with when and when-not is not reported"
[code]

[2020-01-26 10:46] borkdude opened #711 "Expose end position in findings"

[2020-01-26 15:41] borkdude opened #713 "Unused private var position: only highlight name in finding"

[2020-01-26 19:19] sirmspencer opened #715 "Add missing reagent style"
1. I have noticed a case that clj-kondo does not interpret the Reagent code correctly.  reagent/with-let cannot tell that the following form is the same as a let.

In the following example, a is flagged as 'unresolved symbol'
`(defn example []
  (r/with-let [a "test"]
    [:div ...]))`

The correct behavior should be no warnings.

2. Another case is clj-kondo considers a parameter missing when its

[2020-01-26 19:28] borkdude commented on #715
@sirmspencer For this you can use `:lint-as`:

[code]

This gives no warnings. Note that the config should go into `.clj-kondo/config.edn`.

In the case of a form-2 component, you should just rename the unused outer parameter to `_b` to mark it as used.

[2020-01-26 19:30] borkdude commented on #715
Also see:

- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#lint-a-custom-macro-like-a-built-in-macro
- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unused-bindings-from-being-reported

[2020-01-26 19:30] #715 closed

[2020-01-26 19:32] sirmspencer commented on #715
Thank you.  I apparently need to read through the config guide again.

[2020-01-26 19:34] borkdude commented on #715
No worries! There's also a #clj-kondo Slack channel for quick questions.

[2020-01-27 10:23] #462 closed

[2020-01-27 10:23] #710 closed

[2020-01-27 10:23] #713 closed

[2020-01-27 10:23] #706 closed

[2020-01-27 10:23] #702 closed

[2020-01-27 10:23] #711 closed

[2020-01-27 11:19] borkdude commented on #672
@agzam I added some notes to https://github.com/borkdude/clj-kondo/blob/master/doc/editor-integration.md. Please check if that's sufficient.

[2020-01-27 11:39] borkdude commented on #515
This is already fixed with #339.

[2020-01-27 11:39] #515 closed

[2020-01-27 11:40] borkdude opened #717 "How to ns: discourage use of prefix lists in require form"

[2020-01-27 11:41] borkdude commented on #229
I'm closing this issue as it was split up in #708 and #717.

[2020-01-27 11:41] #229 closed

[2020-01-27 15:58] agzam commented on #672
That's good. Thank you!

[2020-01-28 22:09] ethpran opened #719 "Passing `--config` with file path causes java.lang.ClassCastException"
**version**

clj-kondo v2019.12.14

**platform**

Native

**editor**

Intellij. Cursive

**problem**

passing a file path of my config file causes  java.lang.ClassCastException

**repro**

`clj-kondo --config some/path/config.edn --lint ./src`

[code]

**expected behavior**

Uses the config in my file as described [here](https://github.com/borkdude/clj-kondo/blob/master/doc/config.md)

I will subm

[2020-01-28 22:46] borkdude commented on #719
@ethpran Thanks for the fix. I'll leave this open so I can remind myself to write a unit test for it as well, so it will break if we change something.

[2020-01-29 06:14] ethpran commented on #719
what exactly do you want to test? if you give me some direction, i dont mind writing something. im just not 100% familiar with the project so i want to make sure i hit the right points :)

[2020-01-29 08:26] borkdude commented on #719
@ethpran In clj_kondo/main_test.clj the executable is tested using `(lint! "(foobar)" ...)` where on the dots you provide the command line arguments. There we could add a test for loading a config from a file. PR welcome.

[2020-01-29 09:29] yuhan0 opened #721 "Feature: unreachable code detection in conditionals"
To upvote this issue, give it a thumbs up. See [this list](https://github.com/clj-kondo/clj-kondo/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) for the most upvoted issues.

**Is your feature request related to a problem? Please describe.**

When using a non-nilable / non-boolean expression as a predicate in `if` and related forms, it will always evaluate as truthy and code in one of t

[2020-01-30 13:29] borkdude opened #722 "Sorting of namespaces should be considered seperately over :require and :require-macros"
Repro:

[code]

[code]

- [x] Another issue: when you have a duplicate require, it will also be reported as unsorted.

[2020-01-30 19:28] raymond-w-ko opened #723 "Don't know how to create ISeq from: clojure.lang.Keyword"
**version**
clj-kondo v2020.01.27

**platform**
Arch Linux AUR, clj-kondo-bin (I'm guessing this is the GraalVM version.

**editor**
Vim, ALE plugin

**problem**
I noticed that kondo wasn't tracking typos and wasn't working except for unmatched parentheses. I thought I had to manually run it it on the classpath to build a cache. But it crashes with a stack trace.

**repro**
Unfortunately the code

[2020-01-30 19:35] borkdude commented on #723
This indicates an error in your .clj-kondo/config.edn. Can you maybe post that here?

[2020-01-30 19:57] raymond-w-ko commented on #723
Ugh, I found it. I was copying from the `(ns ...)` form and
forgot to remove the alias `x` in `name.space :as x` in the path ```[:unused-referred-var :exclude]```.

```cljs.core.async :as async [chan close! >!]``` should have been ```cljs.core.async [chan close! >!]```

Sorry about the noise.

[2020-01-30 19:57] #723 closed

[2020-01-31 17:11] ethpran commented on #719
@borkdude the test looks like its going to be a bit more involved, so i'd like to ask for some guidance/opinions. `lint-jvm` function [here](https://github.com/borkdude/clj-kondo/blob/master/test/clj_kondo/test_utils.clj#L78) only knows to interpret IPersistentMap implementation as config. Otherwise it sets config passed here to nil and no longer does anything with it. In my test I'd like to pass

[2020-01-31 17:14] borkdude commented on #719
@ethpran OK, an easy way to still get this tested but not use the `lint-jvm` stuff is just test it from `clj-kondo.core` (which is tested in `clj-kondo.core-test`).

[2020-01-31 17:17] ethpran commented on #719
alright. ill have a look

[2020-01-31 19:33] borkdude opened #726 "(set/union (keys {})) should warn"
This has been fixed in #725.

[2020-02-01 09:21] borkdude opened #727 "lint inside extend-protocol"
Until so far we've skipped over extend-protocol expressions. Let's also lint those.

[2020-02-01 09:27] borkdude opened #728 "return type inference"
- [x] warning:
[code]
should give a warning.

- [x] fix false positive regression + write test:

[code]
=>
[code]

- [x] function indirection:

[code]

- [x] don't store `{:type :call}` tags in the cache, but resolve them before writing! this requires some work in probably `ret-tag-from-call`

e.g.:

[code]

- [x] recursive

[code]

- [x] stackoverflow

[code]

[code]

[2020-02-02 20:36] borkdude opened #731 "Potemkin analysis should take into account namespace aliases"
See:

https://github.com/metabase/metabase/blob/master/src/metabase/models.clj

[2020-02-02 21:04] borkdude opened #732 "Infer return type from when expressions"
[code]

[2020-02-02 21:05] borkdude opened #733 "Infer return type from if and when expressions"
[code]

TODO:

- [x] fix example:

[code]

[2020-02-03 07:23] Cnly opened #734 "Wrong row/col position for syntax error: Invalid symbol"
**version**

v2020.01.28-SNAPSHOT (clj-kondo-2020.01.28-20200202.202532-14.jar)

**platform**

JVM

**problem**

When a file contains a line like

[code]

clj-kondo always reports an ` error: Invalid symbol: unknown/.` on line 1 regardless of the actual position of the problematic code.

**repro**

The easiest way to reproduce this is the following command:

[code]

which corresponds to the follow

[2020-02-04 21:46] borkdude opened #735 "detect function type"
[code]

[2020-02-05 15:06] Limess opened #736 "Read config file from home directory"
**Is your feature request related to a problem? Please describe.**
When adding clj-kondo for my personal use across projects in an organisation which does not use it as their main linting tool I find myself having to duplicate configuration in a number of repositories due to shared dependencies.

**Describe the solution you'd like**
clj-kondo should default to reading configuration from `~/.clj-ko

[2020-02-05 15:26] borkdude commented on #736
@Limess So far I've resisted this because of design principle 5.2 here: https://github.com/borkdude/clj-kondo/blob/master/doc/dev.md#design-principles.

An easy way to get around this is to either use the `--config` flag that accepts additional configuration or a tiny script that copies your system-wide config and (deep)merges it with your project config, e.g. with [babashka](https://github.com/bo

[2020-02-06 00:54] MicahElliott opened #737 "Warn on use of fully qualified NSs when implicitly already available"
Sometimes when pasting an exception from a stack trace, you unwittingly end up with:

[code]

But the `java.lang` is already available. So it'd be nice if kondo would warn on detecting this.

Same applies to uses of `clojure.lang.*` and maybe others.

## Solutions

Detect specifically from a set of implicitly NSs.
OR
Be smarter to detect a reference to anything already aliased in a require form.

[2020-02-06 18:28] jeroenvandijk commented on #438
Adgoji is using clj-kondo. Thank you!
website: https://www.adgoji.com/

Logo [here](https://drive.google.com/file/d/1VlUhnrodGmZZd8bQl-PFgJPBdJTf_H4M/view)

[2020-02-07 13:19] borkdude opened #740 "make unsorted-namespace linter available via ns meta"
[code]

[2020-02-07 13:24] borkdude opened #741 "Unsorted namespaces: investigate CLJC inconsistency with emacs"
When sorting this namespace in emacs with `clojure-sort-ns`, the conditionals go on top:

[code]

but clj-kondo regards this as unsorted, since bar.foo goes before foo.bar.

[2020-02-07 16:01] tobias opened #742 "Non-shadowing desctructuring in an if-let isn't properly recognized"
**version**

`clj-kondo v2020.01.27`

**platform**

Native on MacOS.

**editor**

N/A

**problem**

When destructuring is used in an `if-let`, a binding defined outside of the `if-let` is considered unused even when it is used in the else branch if the destructuring in the `if-let` binds the same symbol.

**repro**

[code]

Linting reports:

`/tmp/foo.clj:3:13: warning: unused binding a`

**expect

[2020-02-07 16:08] borkdude commented on #742
Thanks.

[2020-02-07 18:58] borkdude commented on #737
Clj-kondo can do both, but why is this important? It's not incorrect to not use the alias?

[2020-02-07 19:15] borkdude opened #743 "infer return type of cond macro"

[2020-02-07 19:17] MicahElliott commented on #737
I think it's an anitpattern to be referring to things like java.lang.Integer when just Integer suffices. It'd help newbies who don't know better and anyone who might paste from an error, or other inadvertent cases I'm not thinking of yet. It came up as a correction in a PR recently and thought it was a good catch that I had missed, so might as well have kondo do that.

[2020-02-07 19:27] borkdude commented on #737
@MicahElliott It is in the spirit of clj-kondo to clean up unnecessary stuff, so I'm prioritizing this as medium then :-).

[2020-02-07 19:28] MicahElliott commented on #737
Thanks, that's great! Yeah, it's definitely not high priority. Just wanted to run the idea by you.

[2020-02-07 21:02] borkdude commented on #743
Fixed with https://github.com/borkdude/clj-kondo/commit/69f46963c809a0519b653418ca1ffcc1af58c83d

[2020-02-07 21:05] borkdude opened #744 "Function bodies are analyzed twice, can we do better?"
If you do a `prn` in a type `:fn` the types are printed twice when the expression is inside a function body. Presumably because we lint the function body twice. Can we save some performance by only doing some lightweight linting the first time?

Repro:

[code]

and

[code]

- [ ] After making some changes, I'm seeing that `compare-symbols` has an inferred return type:

[code]

While this is intere

[2020-02-07 21:19] sskorokhodov commented on #438
We use clj-kondo at [SUPREMATIC](https://suprematic.de). Thank you!

[2020-02-08 03:28] vemv opened #745 "Pluggable linters"
Hi!

I use clj-kondo via the JVM integration (https://github.com/borkdude/clj-kondo/pull/231). Soon to be shared publicly.

My usage boiling down to:

[code]

Given the shape of the API, it seems a reasonable idea to add custom linters in the :linters key:

[code]

That way:

* One can use kondo as a generic, hackable runtime for managing my linters
* One can reuse kondo's utility code so that I d

[2020-02-08 08:37] borkdude commented on #745
It's an interesting idea for sure. This is a duplicate of #468. Technically it's possible, but the devil is in the details. Clj-kondo will have to expose a new API which will have to be maintained, so it requires hammock time. More examples of what such custom linters would look like would be helpful. To be continued in #468.

[2020-02-08 08:37] #745 closed

[2020-02-08 15:03] Limess commented on #736
Thanks for taking the time to reply. While I still think this would be useful in some scenarios (perhaps as an option in the language server protocol you maintain https://github.com/borkdude/clj-kondo.lsp for use in Calva, etc) I'll close this as it's been considered.

[2020-02-08 15:03] #736 closed

[2020-02-08 15:37] vemv commented on #468
(Coming here redirected from #745)

#745 suggests one possible shape (one passes functions, said functions receive data from Kondo). A given function would be invoked N times, one per file to be linted.

(passing a `fn` in JVM kondo is trivial... perhaps for more typical usages, not so much?)

I guess that the argument to be received by this callback could be a map with entries such as `:filename,

[2020-02-09 12:43] EwaTrzemzalska commented on #260
I'd love to try to tackle this one! These are my first steps in the world of Clojure, and programming in general, so I'd appreciate some tips for how to implement this.

[2020-02-09 14:28] borkdude commented on #260
@EwaTrzemzalska Here are some instructions to get a REPL, etc for clj-kondo:

https://github.com/borkdude/clj-kondo/blob/master/doc/dev.md

Most of the analysis happens in `src/clj_kondo/impl/analyzer.clj`. I think we will have to add a case there for `clojure.core/=` and then check the amount of children nodes. There are several examples of this, e.g.:

[code]

You can also start by adding a test

[2020-02-09 14:59] borkdude commented on #430
This specific example has been fixed with https://github.com/borkdude/clj-kondo/commit/b22d4d902a43a7ad4782b4bb775d8ceccffb2ea5.

The code is now in a better position to support other linters via ns metadata as well, but examples would be most welcome.

[2020-02-09 15:27] borkdude commented on #260
Is it a co-incidence that @EwaTrzemzalska asked about this issue and shortly after @abogoyavlensky makes a commit regarding this issue? Are you two working together somehow?

[2020-02-09 15:31] abogoyavlensky commented on #260
@borkdude No, seems that it is happened accidentally.

[2020-02-09 17:14] bhougland18 opened #748 "Install script: add parameter for temporary download directory"
Can you add a parameter to the install script to allow the user to set an alternate download directory?  I am using the Fedora Silverblue Linux distribution and it will not allow changes to /tmp as it is based on OSTREE and is mostly an immutable os.

However, the distribution does allow for the user to write to usr/local/bin, so the rest of the script is fine (especially since the install directo

[2020-02-09 17:18] borkdude commented on #748
@bhougland18 I welcome a PR that adds a `--download-dir` option.

[2020-02-09 21:05] vemv opened #749 "`==== Testing` bit can be repeatedly printed"
Hi again,

I'm giving a quick shot to hacking on clj-kondo. I use the Reloaded workflow. Fortunately I found the source and tests to play fine with it.

I only found  the following  bit:

[code]

...To be a bit annoying because it will be printed on many `(refresh)`es.

Don't know its purpose. Maybe it can be wrapped with `(when (System/getEnv "CI"))` or such?

Thanks - V

[2020-02-09 21:09] borkdude commented on #749
This is printed so I will know I'm testing either the native or the JVM version when running `lein test` and I'm not accidentally testing the wrong thing (e.g. I have an old binary around and I made some changes to only the JVM version).

[2020-02-09 21:13] vemv commented on #749
👍! With a bit of luck there would be a way to have it printed just once.

[2020-02-09 21:14] borkdude commented on #749
@vemv I would be ok with some kind of atom that is set to true after the initial print. PR welcome.

[2020-02-09 21:16] borkdude commented on #749
Oh, but if you're using the reloaded workflow, that atom will also be reloaded right? ;-)

[2020-02-09 21:17] vemv commented on #749
Reloaded wipes atoms too, so a change that worked might be overly obstrusive.

If there's no simple fix (e.g. move this code somehow to the `lein` run) I'd be OK with the issue being closed

[2020-02-09 21:18] #749 closed

[2020-02-10 19:42] #260 closed

[2020-02-12 14:01] theronic opened #752 "Warn when destructuring overrides function arguments, e.g. (fn [{:as data :keys [data]}] ...)]"
I got caught by destructuring :some/keys and overriding the preceding argument with the same symbol, e.g. `(fn [{:as data :some/keys [id data]})`, `some/data` overrides `data` in the `:as` clause.

The reason this happened was because I reused some code and changed the label of the :as clause. The macro expansion for destructuring is probably a sequence of let clauses, which usually do allow overr

[2020-02-14 12:42] laurio opened #755 "add "redundant do" -check for future"
[code]
..but future actually takes a body of expressions - it would be nice to get a warning about it, similar to:
[code]

I'd be interested in doing a PR.

[2020-02-14 12:50] borkdude commented on #755
PR with enhancement + tests welcome!

[2020-02-15 10:32] #430 closed

[2020-02-15 10:32] #708 closed

[2020-02-15 10:32] #719 closed

[2020-02-15 10:32] #726 closed

[2020-02-15 10:32] #728 closed

[2020-02-15 10:32] #733 closed

[2020-02-15 10:32] #740 closed

[2020-02-15 10:32] #741 closed

[2020-02-15 10:32] #742 closed

[2020-02-15 10:32] #743 closed

[2020-02-15 14:07] borkdude opened #756 "false negative type error for assoc in function"
[code]

[2020-02-16 22:00] #722 closed

[2020-02-16 22:01] #744 closed

[2020-02-17 12:15] laurio opened #758 "add "redundant do" -check for when-let"
[code]
..but `when-let` actually takes a body of expressions - it would be nice to get a warning about it, similar to:
[code]

I'd be interested in doing a PR.

[2020-02-17 12:18] borkdude commented on #758
PR with code + test welcome!

[2020-02-18 09:54] borkdude opened #760 "False positive unsorted namespace in .cljc with clojure.test"
[code]

[2020-02-18 16:44] borkdude opened #761 "warn on erroneous Java import which gives spec error"
[code]

[2020-02-19 13:03] taxonomic-blackfish opened #762 "Transitive dependency msgpack is vulnerable to CVE-2020-5234"
**version**

`2020.02.15`

**problem**

`clj-kondo` depends on `com.cognitect:transit-clj:0.8.313` which depends on `org.msgpack:msgpack:jar:0.6.12` which is vulnerable to `CVE-2020-5234`.

**expected behavior**

The library does not ship with vulnerable dependencies.

[2020-02-19 13:05] borkdude commented on #762
@taxonomic-blackfish Are you also going to report this to transit-clj itself?

[2020-02-19 14:32] retrogradeorbit commented on #762
MessagePack for *C# and Unity* before version 1.9.3 and 2.1.80 has a vulnerability where untrusted data can lead to DoS attack due to hash collisions and stack overflow.
https://nvd.nist.gov/vuln/detail/CVE-2020-5234

https://github.com/neuecc/MessagePack-CSharp/security/advisories/GHSA-7q36-4xx7-xcxf

[2020-02-19 14:33] borkdude commented on #762
Ah, I see, so there is no problem?

[2020-02-19 14:38] retrogradeorbit commented on #762
unsure where this message came from. Looks to be a stack overflow vulnerability in neuecc /
MessagePack-CSharp

[2020-02-19 14:40] taxonomic-blackfish commented on #762
Yeah sorry, this should be closed because our automated tool told us the `jar` was vulnerable but this is a false positive. It's only C#.

[2020-02-19 14:40] #762 closed

[2020-02-19 21:06] borkdude opened #763 "Accept unquoted namespace metadata configs"
[code]

[2020-02-22 09:10] borkdude opened #767 "Add type for tree-seq"

[2020-02-23 11:40] borkdude commented on #703
@didibus I've created a static linux build in a branch. This is the artifact link: https://8738-176829714-gh.circle-artifacts.com/0/release/clj-kondo-2020.02.16-SNAPSHOT-linux-amd64.zip. Could you test this on your contrained environment?

[2020-02-25 16:01] borkdude opened #771 "Review lambdaisland contributor guidelines and borrow some ideas"
https://github.com/lambdaisland/edn-lines#contributing

Especially

[2020-02-26 12:49] DavidVujic opened #772 "Cannot run command on Alpine Linux"
**version**
2020.1.13

**platform**
Alpine Linux
**editor**
n/a
**problem**
I think the problem is because of a prebuilt binary included in the clj-kondo npm package cannot be run in Alpine Linux. Perhaps it has to do with `libc` vs `musl`?

reference: https://github.com/elm-explorations/test/issues/31

Shortened error output from the CI build:
[code]
**repro**
run `npx clj-kondo --version` or `--

[2020-02-26 12:55] borkdude commented on #772
@DavidVujic Can you test with the static linux build?

https://github.com/borkdude/clj-kondo/issues/703#issuecomment-590059831

[2020-02-26 19:59] DavidVujic commented on #772
Ok! I'll give it a try!

[2020-02-26 20:09] DavidVujic commented on #703
I just tried the static linux build and think it works fine in Alpine Linux! I think the problem we have (https://github.com/borkdude/clj-kondo/issues/772) is related to this issue.

This is how I have tried it out.

Downloaded the static build from the link in the comment above by @borkdude and extracted it.

Ran `docker build` using this example Dockerfile:
[code]
![alpine-clj-kondo (1)](https:/

[2020-02-26 20:13] borkdude commented on #703
@DavidVujic For [babashka](https://github.com/borkdude/babashka/) there will be a separate linux-static download going forward: https://github.com/borkdude/babashka/releases/tag/v0.0.73
I think I'll do the same for clj-kondo, so people who need this (e.g. for Alpine) can download it. The normal builds will remain dynamically linked (@lispyclouds can explain it better than me why this is preferable

[2020-02-27 14:58] abogoyavlensky opened #773 "Warn about usage of block `try` without `catch`"
It could be helpful to get warning when using `try` without `catch`. Because in that case `try` works simply as `do`:
[code]

[2020-02-27 15:17] borkdude commented on #773
We'll have to also check for `finally` because try + finally does sometimes happen without a catch I think. I'll ask around if try without catch and/or finally is indeed a code smell and then report back. I do think you're right.

[2020-02-27 15:20] SevereOverfl0w commented on #773
Looks like java doesn't even compile if you do this: https://stackoverflow.com/questions/43441060/java-try-without-catch-and-catch-without-try

[2020-02-27 17:44] timothypratley opened #774 "Cursive setup screenshot shows different scope to instructions"
Thanks for a great too and clear setup instructions.
There is one small inconsistency in [Cursive Setup](https://github.com/borkdude/clj-kondo/blob/master/doc/editor-integration.md#file-watchers--installed-binary)
where the screenshot shows "Scope: All Places", but instructions say "Scope: Current file".

Also when selecting "File type" there is a CLJX option, I wonder if that can be used to set u

[2020-02-27 17:56] borkdude commented on #774
Hi @timothypratley,

Feel free to provide a new (preferably high res/Retina) screenshots and instructions. As I'm not using IntelliJ myself on a daily basis I'm open to be corrected by someone who is :).

[2020-02-27 22:25] #774 closed

[2020-02-28 09:33] borkdude opened #776 "return type of function not detected in let"
[code]

[2020-02-28 15:14] #776 closed

[2020-02-28 15:15] #513 closed

[2020-02-28 15:16] #763 closed

[2020-02-28 15:16] #760 closed

[2020-02-28 15:16] #761 closed

[2020-02-28 15:16] #756 closed

[2020-02-28 15:16] #755 closed

[2020-02-28 15:17] #758 closed

[2020-02-28 15:17] #767 closed

[2020-02-29 02:33] vemv opened #779 "Warn against usage of nil/false in set predicates"
**Is your feature request related to a problem? Please describe.**

Whenever set literals are used as predicates, most likely including `nil` or `false` represents a bug:

[code]

**Describe the solution you'd like**

Warn against those, suggesting `contains?` instead, if the `nil` or `false` literals are present in the given set.

**Describe alternatives you've considered**

Unconditionally sugge

[2020-02-29 10:10] #703 closed

[2020-03-01 15:00] borkdude opened #780 "catch type error in (str/replace "foo" "o" (fn [_]))"

[2020-03-01 15:20] borkdude commented on #779
@vemv The described solution seems OK with me. The alternative approach seems too opinionated to me too. I think the best place to add this might be in `analyzer.clj` where there is logic that handles cases where data literals are called as functions.

[2020-03-01 15:21] #772 closed

[2020-03-02 03:29] didibus commented on #703
I tried the static binary and it does work!

Thank You

[2020-03-02 08:34] borkdude opened #781 "Add link to talk + slides at ClojuTRE in README"

[2020-03-02 16:01] marcomorain opened #782 "False positive with :or destructuring with default depending on previous arg"
**version**

`clj-kondo v2020.02.28`

**platform**

Native on macOS:

`Darwin blaster.local 19.2.0 Darwin Kernel Version 19.2.0: Sat Nov  9 03:47:04 PST 2019; root:xnu-6153.61.1~20/RELEASE_X86_64 x86_64`

**editor**

Calva

**problem**

[code]

**repro**

`echo '(fn unresolved-symbol-x [x & {:keys [y] :or {y (inc x)}}] (+ y x))' | clj-kondo --lint -`

[code]

**expected behavior**

This code is va

[2020-03-02 16:17] borkdude commented on #782
I'm closing this as this is undefined behavior and people should not rely on this.

<img width="1434" alt="Screenshot 2020-03-02 17 16 43" src="https://user-images.githubusercontent.com/284934/75694976-a672ef00-5ca9-11ea-9c4a-d97a552c0c76.png">

[2020-03-02 16:17] #782 closed

[2020-03-02 17:58] ikitommi opened #783 ":keys can't be used in :ret position"
**version**

clj-kondo v2020.02.15

**platform**

native

**editor**

command line

**problem**

the `:keys` works in function `:args`, but not in `:ret`:

**repro**

[code]

**expected behavior**

... the `:ret` should be identified as map with :a key of type `:string` and the `:a` lookup on it should return a `:string`.

[2020-03-02 19:14] borkdude commented on #783
To be clear, you expect this?

[code]

[2020-03-02 19:16] ikitommi commented on #783
Yes, that.

[2020-03-02 19:17] #732 closed

[2020-03-02 23:04] borkdude commented on #773
Note that the most recent patch, clj-1472-5,  for CLJ-1472 has a `try` without a catch. As this may affect how the bytecode is generated, it may have a purpose after all.

https://clojure.atlassian.net/browse/CLJ-1472

cc @puredanger

[2020-03-03 08:36] borkdude commented on #773
Dump from Slack thread:

10h
borkdude
Why is there a try inside a try, is the outer try still doing anything?
Remember that we talked recently about there being no legit use case for a try without a catch / finally for a linter feature? :slightly_smiling_face: I wonder if this matter for the bytecode? (edited)

7h
alexmiller  so, it is important in this case because of how the body of the try gets

[2020-03-03 22:33] martinklepsch commented on #536
While linting using the `def-catch-all` option is an improvement for CI and similar settings I'd love to see support for Rum improved even more.

Would special-casing support for Rum's macros have a very negative impact on clj-kondo's codebase?

If not maybe this is work that could be sponsored by companies using Rum? I guess there is quite few companies that rely heavily on Rum.

[2020-03-03 22:49] borkdude commented on #536
Probably not, there is a case statement in `analyzer.clj` where these special cases would be added to.

I would be open to that.

[2020-03-03 23:25] liquidz opened #784 "Passing a character to `clojure.core/byte` leads type error"
**version**

clj-kondo v2020.02.28

**platform**

native version

**editor**

Vim and efm-langserver
https://github.com/mattn/efm-langserver

**problem**

Passing a character to `clojure.core/byte` leads type error as following.
[code]

**repro**

[code]

**expected behavior**

No errors

[2020-03-04 08:08] sogaiu opened #785 "Carat + reader conditional not handled correctly"
**version**

clj-kondo v2020.02.16-SNAPSHOT

**platform**

xubuntu linux 19.10

**problem**

Carat + reader conditional not handled correctly

**repro**
[code]
**expected behavior**

The clj repl evaluates the construct without error and according to alexmiller (#off-topic channel of slack), it's a supported construct.  I guess then I'd expect it to work.

However, I've only come across this patte

[2020-03-04 13:01] borkdude opened #786 "Document setting up clj-kondo with Clojure-Kit on IntelliJ"
See https://github.com/gregsh/Clojure-Kit/
PR welcome at doc/editor-integration.md.

[2020-03-04 16:49] borkdude commented on #736
Maybe this comes in handy: https://github.com/borkdude/clj-kondo-configurator

[2020-03-04 17:31] borkdude commented on #784
Fixed with https://github.com/borkdude/clj-kondo/commit/337bc053d31fcd392bf0d8f2b5cdb440d74260ec.

You can temporarily fix this in your own projects by putting this inside `.clj-kondo/config.edn`:

[code]

[2020-03-04 20:32] liquidz commented on #784
@borkdude Thank you for your quick fix!

[2020-03-06 16:02] borkdude commented on #782
Dump from another example on Slack:

[code]
(defn foo [k {v k}] v)
(foo :a {:a 1}) ;; -> 1
[code]

[2020-03-08 12:00] borkdude opened #787 "false positive with str/replace"
[code]

[code]

[2020-03-08 14:01] borkdude commented on #438
Added all these companies to the list here: https://github.com/borkdude/clj-kondo/blob/master/doc/companies.md

[2020-03-09 16:43] rschmukler opened #790 "Global Configuration"
**Is your feature request related to a problem? Please describe.**

Many Clojure programmers end up having a consistent set of libraries that they like to use. Having to duplicate `.clj-kondo/config.edn` across many projects can feel tedious at times.

**Describe the solution you'd like**
Similar to `deps.edn`, I'd like to propose that clj-kondo check `$HOME/.config/clj-kondo/config.edn` for a con

[2020-03-09 16:49] borkdude commented on #790
Duplicate of #736.

[2020-03-09 16:49] #790 closed

[2020-03-09 16:52] rschmukler commented on #790
Sorry I missed it! Searched for global and missed it. Thanks for the quick reply.

[2020-03-09 16:52] borkdude commented on #790
No problem!

[2020-03-09 17:34] timothypratley commented on #786
Hi @borkdude

Clojure-Kit appears to be in the same space as Cursive; plugins for Clojure.
For reference, I do use Cursive, but not Clojure-Kit.
Neither of them requires specialized instructions.
The `clj-kondo` integration is orthogonal and works independently of them.

FWIW I recommend closing this issue as not required.
If I'm missing the point though, let me know, as I'm happy to help here.

[2020-03-09 18:34] borkdude commented on #786
@timothypratley

The point of the person bringing it to my attention was that with Clojure-Kit you can achieve something similar as with FileWatchers but you do not need to have Cursive installed.

The FileWatchers config needs to see some file types and these file types are defined by Cursive. I.e. when you do not use Cursive, you cannot use FileWatchers because there are no file types to choose

[2020-03-09 19:31] serioga opened #791 "Warn about single branch in if-let/if-some"
Currently clj-kondo does not warn about single branch in `if-let` and `if-some` forms.

Probably it should.

[2020-03-09 19:32] timothypratley commented on #786
Oh - I see, thank you for the clarification.
I am using the Community Edition and was able to install FileWatchers just fine.
Even though the "FileWatchers" plugin is bundled with the commercial version, you don't need the commercial version to install it.
I can update the instructions to call this out.

[2020-03-09 19:33] borkdude commented on #786
Seems like a good idea!

[2020-03-09 19:46] serioga opened #792 "Document and test unsorted-required-namespaces linter for multiple requires"
In case of multiple `:require` declarations the `unsorted-required-namespaces` linter checks every declaration independently.

This is useful behavior which could be documented and captured inside a unit test.

[2020-03-09 19:46] borkdude commented on #792
Feel free to also post your example from Slack here.

[2020-03-09 19:50] borkdude commented on #792
[code]

[2020-03-09 20:16] serioga commented on #792
The example from above was rewritten with multiple requires which works as expected:
[code]

[2020-03-09 20:50] serioga opened #793 "Feature request: Warn if docstring lines exceed max width"
Sometimes I meet docstrings with very long lines which are not comfortable to work with due to horizontal scroll (many or most documentation tools show it as pre-formatted text). For example documentation for this function https://github.com/metosin/reitit/blob/7f7d6e22565362ac2b1c21a413865bab38438bac/modules/reitit-core/src/reitit/core.cljc#L345 does not fit in screen even in browser.

Probably i

[2020-03-09 21:10] borkdude commented on #793
@serioga Note that the history of Clojurians slack is not stored, so it's probably better to just copy past the text from Slack and paste it here.

[2020-03-09 21:56] borkdude commented on #793
dominicm Docstring width is fine until someone needs to paste a link in and tell the CI to go away for this one function.

[2020-03-10 09:14] serioga commented on #793
I also use long links in docstrings.
I think that long strings with single word (without spaces) should be ignored.

[2020-03-10 09:19] serioga commented on #793
There is the `Docstring fill width` option in Cursive with default value `80`.

[2020-03-10 21:08] agzam opened #794 "Decorate "never used" symbols and namespaces"
- Very often you need to require a namespace (e.g. that contains specs) without explicitly using anything out of that ns.

Kondo would complain about required but never used ns. Is there a way to decorate it in the code so Kondo does not warn about those and consequently doesn't remove them automatically when linting?

- Similar case for variables:

Sometimes in a `let` block it's useful to show a

[2020-03-10 21:08] tanzoniteblack opened #795 "False positive with clojure.string/replace"
[code]

[code]

Hash-maps are valid functions, and work just fine with `str/replace`, but clj-kondo reports this as an error anyways.

[2020-03-10 21:10] borkdude commented on #795
Duplicate of #787.

[2020-03-10 21:11] borkdude opened #796 "False positive unused import in thread macro"
Repro:

[code]

[2020-03-10 21:18] borkdude commented on #794
@agzam

If you are requiring a namespace solely for side effects such as loading specs, then just don't use an alias or `:refer`. In that case clj-kondo will not mention the namespace as unused.

The second feature is supported but only for function arguments, not in lets. See https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unused-bindings-from-being-reported. Note that des

[2020-03-10 21:20] #781 closed

[2020-03-11 07:33] serioga commented on #794
For such cases there should be recommendation to use `:arglists` metadata to document structure of function arguments.

[2020-03-11 16:12] semperos opened #798 "clojure.core/load"
**version**

[code]

**platform**

* Native executable (from GitHub release)
* macOS 10.15.2

**editor**

N/A

**problem**

Clojure's `load` can introduce new vars into the current namespace, but clj-kondo reports such symbols as undefined in the calling namespace.

**repro**

If we have two files, one of which `load`s the other:

[code]

[code]

When linted:

[code]

But when evaluated by Clojure

[2020-03-11 16:24] borkdude commented on #798
Clj-kondo does not go out on its own to lint other files from disk unless you explicitly feed those files in via the `--lint` args. You can use `declare` to declare vars that are brought in by the call to load.

[2020-03-11 16:24] #798 closed

[2020-03-12 03:57] interstar opened #799 "Handle core.logic"
A couple of quirks when using with core.logic

Defining a db-relation with

[code]

produces

[code]

While defining logic variables inside a

[code]

also gives

[code]

[2020-03-12 07:47] borkdude commented on #799
Have you looked at

- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unresolved-symbols-from-being-reported
- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#lint-a-custom-macro-like-a-built-in-macro ?

[2020-03-12 13:43] serioga opened #800 "False positive :missing-docstring on `deftype` and `deftest`"
[code]

[2020-03-12 13:43] borkdude commented on #800
in carve we ignore vars that are created by deftype / deftest, etc like this:
https://github.com/borkdude/carve/blob/0e2a6014e684b2f2cea9e95e44d7bab215ba904f/src/carve/impl.clj#L108-L118

[2020-03-12 15:34] serioga opened #801 "Feature request: Missing docstring for `ns`"
It would be useful to lint for missing docstring for namespaces as well.

https://clojurians.slack.com/archives/CHY97NXE2/p1584025573184700

[code]

[2020-03-12 20:06] interstar commented on #799
Ah. That looks useful. But where does that {:linters go?

is it inside the map called :clj-kondo in my :aliases map? Or is it another subling of that :clj-kondo map?

[2020-03-12 20:07] borkdude commented on #799
@interstar Please read this: https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#configuration.

[2020-03-12 20:09] serioga commented on #800
about `rum` macros and missing docstrings.

[code]

when I define component like

[code]

then `:missing-docstring` linter still compains about missing docstring.

corresponding configuration:
[code]

[2020-03-12 20:43] interstar commented on #799
Thanks

[2020-03-12 20:43] #799 closed

[2020-03-14 12:36] borkdude opened #803 "Add links to podcasts"
- defn podcast
- clojurescript podcast

[2020-03-14 12:37] #786 closed

[2020-03-15 07:51] bsless opened #805 "Feature request: Docstring linter similar to Emacs's checkdoc"
Emacs comes with a linter which helps writing good docstrings, called `checkdoc`, can be found [here](https://github.com/emacs-mirror/emacs/blob/master/lisp/emacs-lisp/checkdoc.el).
From the file's commentary:
[code]
It would be nice to add a similar feature as an optional linter, and it should be easy to do something similar based on [Clojure's style guide documentation section](https://github.co

[2020-03-16 15:02] Heliosmaster opened #807 "Feature request: Multi-threaded support"
Linting currently only takes up to 100% of a single CPU in my system.

Linting a large project we have takes almost a full minute. I'd like for more of my cores to be used to reduce that.

[2020-03-16 15:05] borkdude commented on #807
Hi @Heliosmaster. This is a duplicate of #632. There is a branch called `pmap`. It works for normal files and directories, but there is an issue with linting classpaths / jar-files. Welcome to help me investigate what is the issue here. What I basically did is replace mapcat with into + cat + pmap.

[2020-03-16 15:05] #807 closed

[2020-03-16 15:23] Heliosmaster commented on #807
Hi @borkdude. Thank you for your answer, apparently it did not occur to me to look for the keyword 'parallel' when looking for a duplicate 🤦‍♂ . Thanks for letting me know, I was also thinking that a `pmap` might do the job. Let's investigate and continue on the other issue :)

[2020-03-16 19:17] borkdude commented on #805
Could you give a few examples of checks for Clojure docstrings? Input + output?

[2020-03-18 09:39] taxonomic-blackfish opened #808 "clj-kondo does not recognize clj-commons/conch program definitions"
**version**

`2020.02.28-1`

**platform**

`clj-kondo` via `lein`

[code]

**problem**

When using `clj-commons/conch`, `clj-kondo` does not recognize functions defined using the `programs` macro. These are clearly valid definitions as the program runs and behaves as expected.

**repro**

`project.clj`

[code]

`./src/app/core.clj`

[code]
And running `lein run` outputs the output expected by runn

[2020-03-18 09:43] borkdude commented on #808
@taxonomic-blackfish Please take a look at the configuration options.

- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unresolved-symbols-from-being-reported

- https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#lint-a-custom-macro-like-a-built-in-macro

[2020-03-18 09:43] #808 closed

[2020-03-18 09:58] borkdude commented on #808
@taxonomic-blackfish clj-kondo itself uses this config for `me.raynes.conch/programs`:

https://github.com/borkdude/clj-kondo/blob/387cd2a710c662622955b72cbe707d9639bf244a/.clj-kondo/config.edn#L22